<nav class="navbar fixed-bottom navbar-light bg-dark">
  <div class="container-fluid justify-content-center flex-row">
    <div class="save-button-container" *ngIf="(changesCount$ | async) > 0">
      <button
        class="btn btn-outline-success"
        (click)="submitChanges()"
        [disabled]="isUpdating$ | async"
      >
        <span>{{ "ui.footer.submit" | translate }}</span>
        <span
          *ngIf="isUpdating$ | async"
          class="spinner-border spinner-border-sm ml-2"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
    <small
      ><a href="https://github.com/sannybuilder/library">{{
        "ui.footer.about" | translate
      }}</a>
      <ng-container
        *ngIf="
          (displayLastUpdate$ | async) && (lastUpdate$ | async) as lastUpdate
        "
      >
        |
        {{
          "ui.footer.lastUpdate"
            | translate: { date: lastUpdate | date: "long" }
        }}
      </ng-container>
    </small>
  </div>
</nav>
