.save-button-container {
  background: #343a40;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 8px 0;
}

.spinner-border {
  padding: 7px;
}

small {
  white-space: nowrap;
}
