<div class="row mb-2" *ngIf="supportInfo">
  <div class="col-12 d-flex justify-content-end">
    <scl-supported-games [supportInfo]="supportInfo"></scl-supported-games>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-xl-4">
    <div class="input-group">
      <span class="input-group-text">Opcode</span>
      <input
        type="text"
        class="form-control"
        maxlength="4"
        (blur)="opcodify(command)"
        [ngModel]="command.id"
        (ngModelChange)="onOpcodeChange(command, $event)"
      />
    </div>
  </div>
  <div class="col-12 col-xl-8">
    <div class="input-group">
      <span class="input-group-text">Command name</span>
      <input
        type="text"
        class="form-control"
        [ngModel]="command.name | uppercase"
        (ngModelChange)="onCommandNameChange(command, $event)"
      />
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <scl-selector
      label="Extension"
      [model]="extension"
      (modelChange)="onExtensionChange($event)"
      [choices]="extensionNames"
    ></scl-selector>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 col-md-6">
    <div class="input-group">
      <span class="input-group-text">Class</span>
      <input
        type="text"
        [disabled]="command.attrs?.is_keyword || command.attrs?.is_nop"
        class="form-control"
        [ngModel]="command.class"
        (ngModelChange)="onClassChange(command, $event)"
      />
    </div>
    <div
      class="mb-1"
      *ngIf="
        !command.attrs?.is_keyword &&
        !command.attrs?.is_nop &&
        !command.class &&
        suggestedClassName
      "
    >
      <small
        >Suggestion:
        <a href="#" (click)="(command.class = suggestedClassName) && false">{{
          suggestedClassName
        }}</a></small
      >
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="input-group">
      <span class="input-group-text">Member</span>
      <input
        type="text"
        [disabled]="command.attrs?.is_keyword || command.attrs?.is_nop"
        class="form-control"
        [ngModel]="command.member"
        (ngModelChange)="onMemberChange(command, $event)"
      />
    </div>
    <div
      class="mb-1"
      *ngIf="
        !command.attrs?.is_keyword &&
        !command.attrs?.is_nop &&
        !command.member &&
        suggestedClassMember
      "
    >
      <small
        >Suggestion:
        <a href="#" (click)="(command.member = suggestedClassMember) && false">
          {{ suggestedClassMember }}</a
        ></small
      >
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <div class="input-group">
      <span class="input-group-text">Short Description</span>
      <input
        type="text"
        [(ngModel)]="command.short_desc"
        class="form-control"
        [disabled]="command.attrs?.is_nop"
      />
    </div>
  </div>
</div>

<ng-container *ngIf="command.input?.length">
  <h5>Parameters</h5>
  <div class="row mb-2" *ngFor="let param of command.input; let i = index">
    <div class="col-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text">{{ i + 1 }}</span>
        <input type="text" class="form-control" [(ngModel)]="param.name" />
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <scl-selector
        [ngClass]="{ invalid: param.type === ParamType.any }"
        [(model)]="param.type"
        [choices]="paramTypes"
        (keydown)="onTypeKeyDown($event, param)"
        [canInput]="false"
      ></scl-selector>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <scl-selector
        [model]="getDefaultInputSource(param)"
        (modelChange)="onParamSourceUpdate($event, param)"
        [choices]="sources"
        [canInput]="false"
      ></scl-selector>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="command.output?.length">
  <h5>Result</h5>
  <div class="row mb-2" *ngFor="let param of command.output; let i = index">
    <div class="col-12 col-lg-4">
      <div class="input-group">
        <span class="input-group-text">{{ i + 1 }}</span>
        <input type="text" class="form-control" [(ngModel)]="param.name" />
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <scl-selector
        [ngClass]="{ invalid: param.type === ParamType.any }"
        [(model)]="param.type"
        [choices]="paramTypes"
        [canInput]="
          command.attrs?.is_constructor && i === command.output.length - 1
        "
      ></scl-selector>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <scl-selector
        [model]="getDefaultOutputSource(param)"
        (modelChange)="onParamSourceUpdate($event, param)"
        [choices]="sources"
        [canInput]="false"
      ></scl-selector>
    </div>
  </div>
</ng-container>

<div class="row mb-2">
  <div class="col-12">
    <div class="form-check d-inline-block pr-2" *ngFor="let attr of attrs">
      <label class="form-check-label" [title]="attr | attrTitle">
        <input
          class="form-check-input"
          type="checkbox"
          [ngModel]="command.attrs ? command.attrs[attr] : undefined"
          (ngModelChange)="onAttrChange(command, attr, $event)"
        />
        {{ attr }}
      </label>
    </div>

    <div class="alert alert-danger mt-3" *ngIf="shouldDisplayAttributeError()">
      Invalid combination of attributes
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <div class="form-group">
      <label [for]="command.id + '_snippet'" class="h5">Code Snippet</label>
      <textarea
        class="form-control"
        rows="4"
        [id]="command.id + '_snippet'"
        [ngModel]="snippet"
        (ngModelChange)="onSnippetChange($event)"
      ></textarea>
    </div>
  </div>
</div>
