.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-menu.show {
  min-width: 200px;
}

.form-control.is-invalid {
  background-image: none;
}

[cdkDropList] {
  min-height: 0.5rem;
  &.cdk-drop-list-receiving,
  &.cdk-drop-list-dragging {
    min-height: 2rem;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-handle {
  cursor: move;
}

.empty-list:not(.cdk-drop-list-receiving, .cdk-drop-list-dragging) > h5 {
  display: none;
}

.scroll-container {
  overflow: auto;
  max-height: calc(100% - 141px);
  padding-right: 16px;
  height: 100%;
}
