@import "variables";

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-menu.show {
  min-width: 200px;
}

[cdkDropList] {
  min-height: 0.5rem;
  &.cdk-drop-list-receiving,
  &.cdk-drop-list-dragging {
    min-height: 2rem;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-handle {
  cursor: move;
}

.empty-list:not(.cdk-drop-list-receiving, .cdk-drop-list-dragging) > h5 {
  display: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding-right: 16px;
}

.nav-link.active {
  color: $white;
  border-bottom: 1px dotted #baf042;
}

textarea {
  font-size: 87.5%;
}

.input-group scl-selector:not(:last-child) {
  width: calc(100% - 38px)
}