<div class="row mb-2" *ngIf="supportInfo">
  <div class="col-12 d-flex justify-content-end">
    <scl-command-games
      [supportInfo]="supportInfo"
      [extension]="extension"
      [command]="command"
    ></scl-command-games>
  </div>
</div>

<h5>Edit Command</h5>

<hr />

<div class="row mb-2 pr-5">
  <div class="col-12">
    <button
      class="btn btn-outline-secondary text-nowrap d-flex ml-auto"
      (click)="addInput()"
    >
      Add Param
    </button>
  </div>

  <button
    class="close delete-command-button text-danger"
    (click)="deleteCommand()"
    title="Delete command"
  >
    <ng-container *ngTemplateOutlet="deleteIcon"></ng-container>
  </button>
</div>

<div class="row mb-2">
  <div class="col-12 col-xl-4">
    <div class="input-group">
      <span class="input-group-text">Opcode</span>
      <input
        type="text"
        class="form-control"
        maxlength="4"
        (blur)="opcodify(command)"
        [ngModel]="command.id"
        (ngModelChange)="onOpcodeChange(command, $event)"
      />
    </div>
  </div>
  <div class="col-12 col-xl-8">
    <div class="input-group">
      <span class="input-group-text">Command Name</span>
      <input
        type="text"
        class="form-control"
        [ngModel]="command.name | uppercase"
        (ngModelChange)="onCommandNameChange(command, $event)"
      />
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <scl-selector
      label="Extension"
      [model]="extension"
      (modelChange)="onExtensionChange($event)"
      [choices]="extensionNames"
    ></scl-selector>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 col-md-6">
    <div class="input-group">
      <scl-selector
        class="flex-grow-1"
        [model]="command.class"
        label="Class"
        (modelChange)="onClassChange(command, $event)"
        [choices]="classes"
        [canInput]="true"
        [disabled]="command.attrs?.is_keyword || command.attrs?.is_nop"
      ></scl-selector>
    </div>
    <div
      class="mb-1"
      *ngIf="
        !command.attrs?.is_keyword &&
        !command.attrs?.is_nop &&
        !command.class &&
        suggestedClassName
      "
    >
      <small
        >Suggestion:
        <a href="#" (click)="(command.class = suggestedClassName) && false">{{
          suggestedClassName
        }}</a></small
      >
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="input-group">
      <span class="input-group-text">Member</span>
      <input
        type="text"
        [disabled]="
          command.attrs?.is_keyword || command.attrs?.is_nop || !command.class
        "
        class="form-control"
        [ngModel]="command.member"
        (ngModelChange)="onMemberChange(command, $event)"
      />
    </div>
    <div
      class="mb-1"
      *ngIf="
        !command.attrs?.is_keyword &&
        !command.attrs?.is_nop &&
        !command.member &&
        suggestedClassMember
      "
    >
      <small
        >Suggestion:
        <a href="#" (click)="(command.member = suggestedClassMember) && false">
          {{ suggestedClassMember }}</a
        ></small
      >
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <div class="input-group">
      <span class="input-group-text">Short Description</span>
      <input
        type="text"
        [(ngModel)]="command.short_desc"
        class="form-control"
        [disabled]="command.attrs?.is_nop"
      />
    </div>
  </div>
</div>

<ng-container cdkDropListGroup>
  <div
    cdkDropList
    [cdkDropListData]="command.input"
    [ngClass]="{ 'empty-list': !command.input.length }"
    (cdkDropListDropped)="drop($event, SourceType.any)"
  >
    <h5>Parameters</h5>
    <div
      class="row mb-2 pr-5"
      *ngFor="let param of command.input; let i = index"
      cdkDrag
      cdkDragBoundary="scl-command-editor"
    >
      <div class="col-12 col-lg-4">
        <div class="input-group">
          <span class="input-group-text" cdkDragHandle>{{ i + 1 }}</span>
          <ng-container
            *ngTemplateOutlet="paramTemplate; context: { param: param }"
          ></ng-container>
        </div>
        <div
          class="mb-1"
          *ngIf="getSuggestedInputName(i) as suggestedInputName"
        >
          <small
            >Suggestion:
            <a href="#" (click)="(param.name = suggestedInputName) && false">
              {{ suggestedInputName }}</a
            ></small
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <scl-selector
          [ngClass]="{ invalid: param.type === PrimitiveType.any }"
          [(model)]="param.type"
          [choices]="paramTypes"
          (keydown)="onTypeKeyDown($event, param)"
          [canInput]="false"
        ></scl-selector>
        <div
          class="mb-1"
          *ngIf="getSuggestedInputType(i) as suggestedInputType"
        >
          <small
            >Suggestion:
            <a href="#" (click)="(param.type = suggestedInputType) && false">
              {{ suggestedInputType }}</a
            ></small
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <scl-selector
          [model]="getDefaultInputSource(param)"
          (modelChange)="onParamSourceUpdate($event, param)"
          [choices]="sources"
          [canInput]="false"
          [narrowDropdown]="true"
        ></scl-selector>
      </div>

      <button
        class="close delete-param-button"
        (click)="deleteInput(i)"
        title="Delete input param"
      >
        <ng-container *ngTemplateOutlet="deleteIcon"></ng-container>
      </button>
    </div>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="command.output"
    [ngClass]="{ 'empty-list': !command.output.length }"
    (cdkDropListDropped)="drop($event, SourceType.var_any)"
  >
    <h5>Result</h5>
    <div
      class="row mb-2 pr-5"
      *ngFor="let param of command.output; let i = index"
      cdkDrag
      cdkDragBoundary="scl-command-editor"
    >
      <div class="col-12 col-lg-4">
        <div class="input-group">
          <span class="input-group-text" cdkDragHandle>{{ i + 1 }}</span>
          <ng-container
            *ngTemplateOutlet="paramTemplate; context: { param: param }"
          ></ng-container>
        </div>
        <div
          class="mb-1"
          *ngIf="getSuggestedOutputName(i) as suggestedOutputName"
        >
          <small
            >Suggestion:
            <a href="#" (click)="(param.name = suggestedOutputName) && false">
              {{ suggestedOutputName }}</a
            ></small
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <scl-selector
          [ngClass]="{ invalid: param.type === PrimitiveType.any }"
          [(model)]="param.type"
          [choices]="paramTypes"
          (keydown)="onTypeKeyDown($event, param)"
          [canInput]="
            command.attrs?.is_constructor && i === command.output.length - 1
          "
        ></scl-selector>
        <div
          class="mb-1"
          *ngIf="getSuggestedOutputType(i) as suggestedOutputType"
        >
          <small
            >Suggestion:
            <a href="#" (click)="(param.type = suggestedOutputType) && false">
              {{ suggestedOutputType }}</a
            ></small
          >
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <scl-selector
          [model]="getDefaultOutputSource(param)"
          (modelChange)="onParamSourceUpdate($event, param)"
          [choices]="sources"
          [canInput]="false"
        ></scl-selector>
        <div
          class="mb-1"
          *ngIf="getSuggestedOutputSource(i) as suggestedOutputSource"
        >
          <small
            >Suggestion:
            <a
              href="#"
              (click)="
                onParamSourceUpdate(suggestedOutputSource, param) || false
              "
            >
              {{ suggestedOutputSource }}</a
            ></small
          >
        </div>
      </div>

      <button
        class="close delete-param-button"
        (click)="deleteOutput(i)"
        title="Delete output param"
      >
        <ng-container *ngTemplateOutlet="deleteIcon"></ng-container>
      </button>
    </div>
  </div>
</ng-container>

<div class="row mb-2">
  <div class="col-12">
    <div class="d-inline-block pr-2" *ngFor="let attr of attrs">
      <label class="form-check-label" [title]="attr | attrTitle">
        <input
          type="checkbox"
          [ngModel]="command.attrs ? command.attrs[attr] : undefined"
          (ngModelChange)="onAttrChange(command, attr, $event)"
        />
        <span class="checkbox"></span>
        {{ attr }}
      </label>
    </div>

    <div class="alert alert-danger mt-3" *ngIf="errorMessages.length">
      <div *ngFor="let message of errorMessages">
        {{ message }}
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <div class="form-group">
      <label [for]="command.id + '_snippet'" class="h5">Code Snippet</label>
      <textarea
        class="form-control"
        rows="4"
        [id]="command.id + '_snippet'"
        [ngModel]="snippet"
        (ngModelChange)="onSnippetChange($event)"
      ></textarea>
    </div>
  </div>
</div>

<ng-template #paramTemplate let-param="param" let-i="i">
  <input
    type="text"
    class="form-control"
    [ngModel]="param.name"
    (ngModelChange)="onParamNameChange($event, param)"
    [ngClass]="{ 'is-invalid': isParamNameDuplicate(param.name) }"
  />
</ng-template>

<ng-template #deleteIcon>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-trash"
    viewBox="0 0 16 16"
  >
    <path
      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
    />
    <path
      fill-rule="evenodd"
      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
    />
  </svg>
</ng-template>
