@import "variables";

ul {
  list-style: none;
}

.tree-container {
  max-height: 400px;
  overflow: auto;
}

.search-hotkey-hint {
  position: absolute;
  right: 0.5rem;
  top: 5px;
  kbd {
    color: $gray-600;
  }
}
