<div class="input-group mb-3">
  <div class="position-relative" style="max-width: calc(100% - 40px)">
    <input
      id="scm-file-filter"
      type="text"
      class="form-control filter-input"
      [placeholder]="'ui.shared.filter' | translate"
      [(ngModel)]="filterQuery"
      data-hotkey="/"
    />
    <kbd class="search-hotkey-hint">/</kbd>
  </div>
  <div class="input-group-append">
    <scl-icon-button
      icon="clear"
      [title]="'ui.header.searchClear' | translate"
      (clicked)="filterQuery = ''"
    ></scl-icon-button>
  </div>
</div>

<div class="tree-container">
  <div class="tree-group" *ngFor="let node of tree">
    <ng-container
      *ngTemplateOutlet="fileNode; context: { node: node }"
    ></ng-container>
  </div>
</div>

<ng-template #fileNode let-node="node">
  <a
    *ngIf="node.path && shouldShowNode(node)"
    class="btn btn-sm btn-link tree-file"
    [class.active]="activeFile === node.path"
    [routerLink]="getRoutePathForNode(node.path!)"
  >
    {{ node.label }}
  </a>

  <details
    [open]="isNodeOpen(node) || filterQuery"
    *ngIf="node.children?.length && shouldShowNode(node)"
  >
    <summary [class.no-arrow]="!node.children?.length">
      {{ node.label }}
    </summary>

    <ul class="tree-list">
      <li *ngFor="let child of node.children">
        <ng-container
          *ngTemplateOutlet="fileNode; context: { node: child }"
        ></ng-container>
      </li>
    </ul>
  </details>
</ng-template>
