<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end">
    <scl-enum-games enumName="" [games]="games"></scl-enum-games>
  </div>
</div>

<h5>{{ "ui.enumList.title" | translate }}</h5>

<div class="scroll-container">
  <pre *ngIf="enumNames.length; else noEnums" class="sample">
<div *ngFor="let enumName of enumNames"><a [routerLink]="['/', game, 'enums', enumName]">{{ enumName }}</a></div></pre>
</div>

<ng-template #noEnums>
  <div class="my-3">{{ "ui.enumList.noEnums" | translate }}</div>
</ng-template>
