@import "variables";

.search-bar {
  max-width: 420px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;

  & .dropdown-menu {
    z-index: 1030;
  }

  & a.nav-link {
    padding-left: 0;
    padding-right: 2rem;
  }
}

:host-context(.scrolled-down) {
  @media (min-width: 768px) {
    .scroll-top {
      display: inline-block !important;
    }
  }
}

a.nav-link.active {
  color: white;
}
.dropdown-item.active {
  background-color: $gray-800;
}

.dropdown-toggle::after {
  position: absolute;
  right: 1rem;
  top: 20px;
}

.dummy-avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $gray-600;
  border-radius: 50%;
  vertical-align: middle;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
  max-height: calc(100vh - 180px);
  overflow: scroll;
}
