<div class="container-fluid bg-dark d-none d-sm-block">
  <div class="navbar navbar-expand">
    <div class="row flex-grow-1 py-2">
      <div class="col-xl-2"></div>
      <div class="col-12 col-xl-8 d-flex align-items-center">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link d-inline-block"
            >
              <img
                class="d-none d-md-inline-block"
                src="assets/sanny.png"
                width="24"
                height="24"
              />
              <span class="align-middle pl-1">{{
                "ui.header.home" | translate
              }}</span></a
            >
          </li>
          <li class="nav-item dropdown" *ngFor="let game of baseGames">
            <a
              class="nav-link d-inline-block dropdown-toggle"
              [ngClass]="{ active: (activeRoute$ | async) === game }"
              aria-current="page"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="align-middle pl-1">{{
                game | gameTitleSimple
              }}</span></a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/', game]">
                <scl-icon [game]="game" size="16"></scl-icon>
                {{ game | gameTitle }}</a
              >
              <a
                *ngFor="let v of getGameVariations(game)"
                class="dropdown-item"
                [routerLink]="['/', v]"
              >
                <scl-icon [game]="v" size="16"></scl-icon>
                {{ v | gameTitle }}</a
              >
            </div>
          </li>
        </ul>
        <div
          class="position-relative"
          *ngIf="(isAuthorized$ | async) && (userName$ | async) as userName"
        >
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            data-display="static"
          >
            <img
              *ngIf="avatarUrl$ | async as avatar; else dummyAvatar"
              [src]="avatar"
              width="24"
              height="24"
              [title]="
                'ui.header.userAvatar'
                  | translate: { userName: userName$ | async }
              "
            />
            <span class="pl-2 d-none d-lg-inline-block align-middle"
              >{{
                "ui.header.greeting"
                  | translate: { userName: userName$ | async }
              }}
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              [href]="profileUrl$ | async"
              target="_blank"
              >{{ "ui.header.profile" | translate }}</a
            >
            <a class="dropdown-item" href="#" (click)="logout()">{{
              "ui.header.logout" | translate
            }}</a>
          </div>
        </div>
        <div class="position-relative">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            data-display="static"
          >
            <ng-container *ngTemplateOutlet="translateIcon"></ng-container>
            <span class="align-middle pl-1 d-none d-md-inline">{{
              "ui.header.switchLanguage" | translate
            }}</span></a
          >
          <div class="dropdown-menu dropdown-menu-right">
            <a
              *ngFor="let lang of KNOWN_LANGUAGES"
              class="dropdown-item"
              href="#"
              (click)="toggleLanguage(lang)"
              >{{ "ui.lang." + lang | translate }}</a
            >
          </div>
        </div>
        <scl-icon-button
          *ngIf="(isAuthorized$ | async) === false"
          type="success"
          icon="login"
          [label]="'ui.header.login' | translate"
          (clicked)="login()"
        >
        </scl-icon-button>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-dark sticky-top mb-3"
  [ngClass]="{ 'with-search-bar': displaySearchBar$ | async }"
>
  <div class="navbar navbar-expand-sm">
    <div class="row flex-grow-1">
      <div class="col-xl-2"></div>
      <div class="col-12 col-xl-6 d-flex align-items-center">
        <form class="form-inline flex-nowrap flex-grow-1">
          <div class="input-group search-bar-control w-100">
            <input
              name="search"
              class="search-bar form-control"
              type="search"
              [placeholder]="'ui.header.searchPlaceholder' | translate"
              autofocus
              (focus)="toggleSearchHelp(true)"
              (blur)="toggleSearchHelp(false)"
              [ngModel]="searchTerm$ | async"
              (ngModelChange)="onSearchUpdate($event)"
            />

            <div class="input-group-append">
              <scl-icon-button
                icon="help"
                [title]="'ui.header.searchHelp' | translate"
                (clicked)="forceSearchHelp()"
              ></scl-icon-button>
              <scl-icon-button
                style="margin-left: -1px;"
                icon="clear"
                [title]="'ui.header.searchClear' | translate"
                (clicked)="clear()"
              ></scl-icon-button>
            </div>
          </div>
          <div
            class="card search-help d-none"
            [ngClass]="{
              'd-none': (displaySearchHelp$ | async) !== true
            }"
          >
            <div class="card-body">
              <div class="search-help-content">
                <p>
                  Regular search forgives minor typos and allows different word
                  forms, e.g.
                  <ng-container
                    *ngTemplateOutlet="searchLink; context: { q: 'playa' }"
                  ></ng-container>
                  or
                  <ng-container
                    *ngTemplateOutlet="searchLink; context: { q: 'coors' }"
                  ></ng-container>
                  .<br />
                  For
                  <code>exact search</code> wrap your search query in double
                  quotes, e.g.
                  <ng-container
                    *ngTemplateOutlet="
                      searchLink;
                      context: { q: '&quot;get_char_health&quot;' }
                    "
                  ></ng-container>
                </p>

                <p>Search supports special queries:</p>

                <ul>
                  <li>
                    <code
                      >id:<span class="identifier">&lt;opcode&gt;</span></code
                    >
                    - find the command with id
                    <span class="identifier">&lt;opcode&gt;</span>
                  </li>
                  <li>
                    <code
                      >constructor:<span class="identifier"
                        >&lt;className&gt;</span
                      ></code
                    >
                    or
                    <code
                      >c:<span class="identifier">&lt;className&gt;</span></code
                    >
                    - find all constructor commands for
                    <span class="identifier">&lt;className&gt;</span>
                  </li>
                  <li>
                    <code
                      >destructor:<span class="identifier"
                        >&lt;className&gt;</span
                      ></code
                    >
                    or
                    <code
                      >d:<span class="identifier">&lt;className&gt;</span></code
                    >
                    - find all destructor commands for
                    <span class="identifier">&lt;className&gt;</span>
                  </li>
                  <li>
                    <code
                      >condition:<span class="identifier"
                        >&lt;className&gt;</span
                      ></code
                    >
                    or
                    <code
                      >if:<span class="identifier"
                        >&lt;className&gt;</span
                      ></code
                    >
                    - find all condition methods for
                    <span class="identifier">&lt;className&gt;</span>
                  </li>
                  <li>
                    <code
                      >type:<span class="identifier"
                        >&lt;typeName&gt;</span
                      ></code
                    >
                    or
                    <code
                      >t:<span class="identifier">&lt;typeName&gt;</span></code
                    >
                    - find all commands where one of the params has the type
                    <span class="identifier">&lt;typeName&gt;</span>
                  </li>
                  <li>
                    <code
                      >param:<span class="identifier"
                        >&lt;paramName&gt;</span
                      ></code
                    >
                    or
                    <code
                      >p:<span class="identifier">&lt;paramName&gt;</span></code
                    >
                    - find all commands where one of the params has the name
                    <span class="identifier">&lt;paramName&gt;</span>
                  </li>
                </ul>

                <p>
                  Each query can be inverted by prepending with <code>!</code>,
                  e.g.
                  <ng-container
                    *ngTemplateOutlet="searchLink; context: { q: '!if:player' }"
                  ></ng-container>
                </p>

                <p>
                  Empty queries (e.g.
                  <ng-container
                    *ngTemplateOutlet="searchLink; context: { q: 'if:' }"
                  ></ng-container>
                  ) return commands from any class.
                </p>

                <p>
                  You can query opcodes, separating them with a comma or a
                  whitespace, e.g.
                  <ng-container
                    *ngTemplateOutlet="
                      searchLink;
                      context: { q: '0001,0002,0003' }
                    "
                  ></ng-container>
                  or
                  <ng-container
                    *ngTemplateOutlet="
                      searchLink;
                      context: { q: '0256 0118 0119' }
                    "
                  ></ng-container>
                </p>
              </div>
              <hr />
              <div class="text-right">
                <button
                  type="button"
                  (mousedown)="dismissSearchHelp()"
                  (click)="dismissSearchHelp()"
                  class="btn btn-outline-success"
                >
                  {{ "ui.shared.dismiss" | translate }}
                </button>
              </div>
            </div>
          </div>

          <a
            class="d-none ml-auto scroll-top text-nowrap"
            href="#"
            (click)="scrollTop()"
            >{{ "ui.header.goToTop" | translate }}</a
          >
          <button
            class="navbar-toggler ml-auto"
            type="button"
            data-toggle="dropdown"
            data-display="static"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="dropdown-menu dropdown-menu-right">
            <p
              class="pl-3 mb-1"
              *ngIf="(isAuthorized$ | async) && (userName$ | async) as userName"
            >
              {{ "ui.header.greeting" | translate: { userName: userName } }}
            </p>

            <a
              class="dropdown-item"
              href="#"
              (click)="login()"
              *ngIf="(isAuthorized$ | async) === false"
            >
              {{ "ui.header.login" | translate }}
            </a>
            <div class="dropdown-divider"></div>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="dropdown-item"
              >{{ "ui.header.home" | translate }}</a
            >
            <div class="dropdown-divider"></div>

            <ng-container *ngFor="let game of baseGames">
              <p class="pl-3 mb-1">
                {{ game | gameTitleSimple }}
              </p>
              <a
                class="dropdown-item"
                [routerLink]="['/', game]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><scl-icon [game]="game" size="16"></scl-icon>
                {{ game | gameTitle }}</a
              >
              <a
                *ngFor="let v of getGameVariations(game)"
                class="dropdown-item"
                [routerLink]="['/', v]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <scl-icon [game]="v" size="16"></scl-icon>
                {{ v | gameTitle }}</a
              >
              <div class="dropdown-divider"></div>
            </ng-container>

            <p class="pl-3 mb-1">
              {{ "ui.header.switchLanguage" | translate }}
            </p>
            <a
              *ngFor="let lang of KNOWN_LANGUAGES"
              class="dropdown-item"
              href="#"
              (click)="toggleLanguage(lang)"
              >{{ "ui.lang." + lang | translate }}</a
            >

            <ng-container *ngIf="isAuthorized$ | async; let isAuthorized">
              <div class="dropdown-divider"></div>
              <a
                *ngIf="profileUrl$ | async; let profileUrl"
                class="dropdown-item"
                [href]="profileUrl"
                target="_blank"
                >{{ "ui.header.profile" | translate }}</a
              >
              <a class="dropdown-item" href="#" (click)="logout()">{{
                "ui.header.logout" | translate
              }}</a>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #dummyAvatar>
  <div class="dummy-avatar" [title]="'ui.header.noAvatar' | translate"></div>
</ng-template>

<ng-template #translateIcon>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-translate"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"
    />
    <path
      d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"
    />
  </svg>
</ng-template>

<ng-template #searchLink let-q="q">
  <code
    ><a [routerLink]="['/', game$ | async]" [queryParams]="{ q: q }">{{
      q
    }}</a></code
  >
</ng-template>
