.search-bar {
  max-width: 420px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 575px) {
  .navbar-nav .nav-link {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

:host-context(.scrolled-down) {
  @media (min-width: 768px) {
    .scroll-top {
      display: inline-block !important;
    }
  }
}

a.nav-link.active {
  color: white;
}
