<div class="container-fluid bg-dark">
  <div class="navbar navbar-expand">
    <div class="row flex-grow-1">
      <div class="col-xl-2"></div>
      <div class="col-12 col-xl-8 d-flex align-items-center">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              routerLink="/"
              routerLinkActive="active"
              class="nav-link d-inline-block"
            >
              <img
                class="d-none d-sm-inline-block"
                src="assets/sanny.png"
                width="24"
                height="24"
              />
              <span class="align-middle pl-1">Home</span></a
            >
          </li>
          <li class="nav-item dropdown" *ngFor="let game of games">
            <a
              class="nav-link d-inline-block dropdown-toggle"
              [ngClass]="{ active: (activeRoute$ | async) === game }"
              aria-current="page"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <scl-icon
                [game]="game"
                class="d-none d-sm-inline-block"
              ></scl-icon>
              <span class="align-middle pl-1">{{ game | gameTitle }}</span></a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/', game]">Commands</a>
              <a class="dropdown-item" [routerLink]="['/', game, 'classes']"
                >Classes</a
              >
              <a class="dropdown-item" [routerLink]="['/', game, 'enums']"
                >Enums</a
              >
            </div>
          </li>
        </ul>
        <div class="position-relative">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            data-display="static"
          >
            <img
              *ngIf="avatarUrl$ | async as avatar; else dummyAvatar"
              [src]="avatar"
              width="24"
              height="24"
              title="{{ userName$ | async }}'s avatar"
            />
            <span class="pl-2 d-none d-md-inline-block align-middle"
              >Welcome, {{ userName$ | async }}
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item"
              [href]="profileUrl$ | async"
              target="_blank"
              >Profile</a
            >
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </div>

        <button
          *ngIf="(isAuthorized$ | async) === false"
          class="btn btn-outline-success d-flex"
          (click)="login()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-dark sticky-top mb-3"
  *ngIf="displaySearchBar$ | async"
>
  <div class="navbar navbar-expand">
    <div class="row flex-grow-1">
      <div class="col-xl-2"></div>
      <div class="col-12 col-xl-5 d-flex align-items-center">
        <form class="form-inline flex-nowrap flex-grow-1">
          <input
            name="search"
            class="search-bar form-control w-100"
            type="search"
            placeholder="Search"
            autofocus
            [ngModel]="searchTerm$ | async"
            (ngModelChange)="onSearchUpdate($event)"
          />
          <button
            class="btn btn-outline-secondary mx-2 d-none d-sm-inline-block"
            type="button"
            (click)="clear()"
          >
            Clear
          </button>

          <a
            class="d-none ml-auto scroll-top text-nowrap"
            href="#"
            (click)="scrollTop()"
            >Go to top</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #dummyAvatar>
  <div class="dummy-avatar" title="No Avatar"></div>
</ng-template>
