@import "variables";

.search-bar {
  max-width: 420px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 575px) {
  .navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

:host-context(.scrolled-down) {
  @media (min-width: 768px) {
    .scroll-top {
      display: inline-block !important;
    }
  }
}

a.nav-link.active {
  color: white;
}

.navbar-expand .navbar-nav .dropdown-menu {
  z-index: 1030;
}

.navbar-expand .dropdown-toggle {
  padding-left: 0;
  padding-right: 2rem;
}

.dropdown-toggle::after {
  position: absolute;
  right: 1rem;
  top: 18px;
}

@media (max-width: 575px) {
  .dropdown-toggle::after {
    display: none;
  }

  .navbar-expand .dropdown-toggle {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.dummy-avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $gray-600;
  border-radius: 50%;
  vertical-align: middle;
}
