<h5>Class Overview</h5>

<pre *ngIf="classCommands" class="sample">
class {{ className }} 
<ng-container *ngFor="let classCommand of classCommands"><ng-container 
    *ngTemplateOutlet="memberTemplate; 
    context: { command: classCommand.command, extension: classCommand.extension }"
  ></ng-container>
</ng-container>end
</pre>

<ng-template #memberTemplate let-command="command" let-extension="extension">
  &nbsp;<code *ngIf="command.class && command.member">
    <ng-container *ngIf="command.attrs?.is_constructor"
      >constructor
      <a href="#" (click)="onView(command, extension)">{{ command.member }}</a
      >{{ command | inputParams }}:
      {{ command.output[command.output.length - 1].type }}
    </ng-container>
    <ng-container *ngIf="command.attrs?.is_destructor"
      >destructor
      <a href="#" (click)="onView(command, extension)">{{ command.member }}</a
      >{{ command | inputParams }}
    </ng-container>

    <ng-container
      *ngIf="!command.attrs?.is_constructor && !command.attrs?.is_destructor"
    >
      <ng-container *ngIf="command.attrs?.is_static">static </ng-container
      ><a
        href="#"
        (click)="onView(command, extension)"
        [ngClass]="{
          strike: command.attrs?.is_nop || command.attrs?.is_unsupported
        }"
        >{{ command.member }}</a
      >{{ command | classParams }}</ng-container
    >
  </code>
</ng-template>
