code {
  display: block;
  padding: 1rem 0;
}
.card {
  .card-on-hover {
    display: none;
  }
}
.card:hover {
  .card-on-hover {
    display: block;
  }
}

.edit-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
