.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-handle {
  cursor: move;
}

.empty-list > h5 {
  display: none;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control.is-invalid {
  background-image: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding-right: 16px;
}

.form-control {
  height: 100%;
}