<ng-container *ngIf="rows$ | async as rows; else loading">
  <ng-container *ngIf="currentPage$ | async as currentPage">
    <div
      class="row mb-3"
      *ngFor="
        let row of rows
          | slice
            : (currentPage === 'all' ? 0 : (currentPage - 1) * 100)
            : (currentPage === 'all'
                ? rows.length
                : (currentPage - 1) * 100 + 100)
      "
    >
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 col-md-1 order-0 d-flex align-items-center">
                <a
                  [routerLink]="['/', game, row.extension, row.command.id]"
                  [name]="row.command.id"
                  [innerHTML]="row.command | hlProp: 'id'"
                ></a>
              </div>

              <div
                class="col-12 order-2 d-flex align-items-center text-break"
                [ngClass]="{
                  'col-md-12': narrowed,
                  'col-md-7': !narrowed,
                  'order-md-2': narrowed,
                  'order-md-1': !narrowed
                }"
                [innerHTML]="row.command | hlProp: 'name'"
              ></div>

              <div
                class="col-9 order-1 d-flex justify-content-end align-items-center"
                [ngClass]="{
                  'col-md-11': narrowed,
                  'col-md-4': !narrowed,
                  'order-md-1': narrowed,
                  'order-md-2': !narrowed
                }"
              >
                <scl-supported-games
                  class="mr-2"
                  *ngIf="
                    getCommandSupportInfo(row.command, row.extension) | async;
                    let supportInfo
                  "
                  [supportInfo]="supportInfo"
                  [extension]="row.extension"
                  [command]="row.command"
                ></scl-supported-games>

                <a
                  *ngIf="canEdit"
                  class="btn small text-muted"
                  href="#"
                  (click)="onEdit(row.command, row.extension)"
                  >Edit</a
                >

                <a
                  class="btn small text-muted"
                  [routerLink]="['/', game, row.extension, row.command.id]"
                  [name]="row.command.id"
                  >View</a
                >
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <ng-container
                  *ngIf="
                    !row.command.attrs?.is_unsupported &&
                    !row.command.attrs?.is_nop
                  "
                >
                  <div
                    class="my-2"
                    [innerHTML]="row.command | hlProp: 'short_desc'"
                  ></div>
                </ng-container>

                <ng-container *ngIf="row.command.attrs?.is_unsupported"
                  >Unsupported</ng-container
                >
                <ng-container *ngIf="row.command.attrs?.is_nop"
                  >Does nothing (NOP)</ng-container
                >

                <ng-container *ngIf="row.command.attrs?.is_keyword">
                  <code
                    >{{ row.command.name | lowercase }}
                    {{ row.command | keywordParams }}</code
                  >
                </ng-container>

                <ng-container *ngIf="row.command.class && row.command.member">
                  <ng-container *ngIf="row.command.attrs?.is_constructor">
                    <code>
                      {{ row.command | outputParams }} =
                      <a
                        [routerLink]="['/', game, 'classes', row.command.class]"
                        ><span
                          [innerHTML]="row.command | hlProp: 'class'"
                        ></span></a
                      >.<span
                        [innerHTML]="row.command | hlProp: 'member'"
                      ></span
                      >{{ row.command | inputParams }}</code
                    >
                  </ng-container>

                  <ng-container *ngIf="!row.command.attrs?.is_constructor">
                    <code>
                      <a
                        [routerLink]="['/', game, 'classes', row.command.class]"
                      >
                        <span
                          [innerHTML]="row.command | hlProp: 'class'"
                        ></span></a
                      >.<span
                        [innerHTML]="row.command | hlProp: 'member'"
                      ></span
                      >{{ row.command | classParams }}</code
                    >
                  </ng-container>
                </ng-container>

                <ng-container
                  *ngIf="
                    !row.command.attrs?.is_keyword &&
                    !(row.command.class && row.command.member) &&
                    !row.command.attrs?.is_unsupported &&
                    !row.command.attrs?.is_nop
                  "
                >
                  <ng-container
                    *ngIf="
                      getSnippet(row.extension, row.command.id)
                        | async as snippet
                    "
                  >
                    <pre class="sample">{{
                      snippet | parametrify: row.command
                    }}</pre>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="rowsCount$ | async as rowsCount; else noResults">
      <scl-pagination
        *ngIf="rowsCount >= 100"
        [total]="rowsCount"
        [currentPage]="currentPage"
        (pageChange)="goToPage($event)"
      ></scl-pagination>
    </ng-container>
    <ng-template #noResults>
      <ng-container *ngIf="(rowsCount$ | async) === 0">
        <p>
          No commands found matching the given criteria.
          <a href="#" (click)="resetFilters()">Reset filters</a>.
        </p>
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div
    class="spinner-border spinner-color"
    role="status"
    *ngIf="loading$ | async"
  ></div>
</ng-template>
