code {
  display: block;
  padding: 1rem 0;
}

.edit-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
}

@media (min-width: 1200px) {
  .command-list {
    overflow-y: scroll;
    height: calc(100vh - 160px);
    scrollbar-width: thin;

    padding-right: 16px;
  }
}
