<nav class="navbar sticky-top bg-dark navbar-expand overflow-hidden mb-3">
  <div class="container-fluid">
    <div class="row flex-grow-1">
      <div class="col-12 col-lg-4">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link d-inline-block">
              <img
                class="d-none d-sm-inline-block"
                src="assets/sanny.png"
                width="24"
                height="24"
              />
              <span class="align-middle pl-1">Home</span></a
            >
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/gta3"
              class="nav-link d-inline-block"
              aria-current="page"
            >
              <scl-icon game="gta3" class="d-none d-sm-inline-block"></scl-icon>
              <span class="align-middle pl-1">{{
                Game.GTA3 | gameTitle
              }}</span></a
            >
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/vc"
              class="nav-link d-inline-block"
              aria-current="page"
              ><scl-icon game="vc" class="d-none d-sm-inline-block"></scl-icon>
              <span class="align-middle pl-1">{{
                Game.VC | gameTitle
              }}</span></a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-5 d-flex">
        <form
          *ngIf="displaySearchBar$ | async"
          class="form-inline my-2 my-lg-0 flex-nowrap flex-grow-1"
        >
          <input
            name="search"
            class="search-bar form-control w-100"
            type="search"
            placeholder="Search"
            autofocus
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchUpdate($event)"
          />
          <button
            class="btn btn-outline-secondary my-2 my-sm-0 ml-2 d-none d-sm-inline-block"
            type="button"
            (click)="clear()"
          >
            Clear
          </button>
        </form>
      </div>
      <div class="col-12 col-lg-3 d-flex justify-content-lg-end">
        <div class="d-flex align-items-center">
          <div class="mr-2" *ngIf="avatarUrl$ | async as avatar">
            <img [src]="avatar" width="24" height="24" />
            <span class="px-2">Welcome, {{ userName$ | async }} </span>
            <a href="#" (click)="logout()">Logout</a>
          </div>

          <button
            *ngIf="(isAuthorized$ | async) === false"
            class="btn btn-outline-success d-flex"
            (click)="login()"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
