<div class="container-fluid bg-dark">
  <div class="navbar navbar-expand">
    <div class="row flex-grow-1">
      <div class="col-xl-2"></div>
      <div class="col-12 col-xl-8 d-flex align-items-center">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link d-inline-block">
              <img
                class="d-none d-sm-inline-block"
                src="assets/sanny.png"
                width="24"
                height="24"
              />
              <span class="align-middle pl-1">Home</span></a
            >
          </li>
          <li
            class="nav-item"
            *ngFor="let game of [Game.GTA3, Game.VC, Game.SA]"
          >
            <a
              routerLinkActive="active"
              [routerLink]="['/', game]"
              class="nav-link d-inline-block"
              aria-current="page"
            >
              <scl-icon
                [game]="game"
                class="d-none d-sm-inline-block"
              ></scl-icon>
              <span class="align-middle pl-1">{{ game | gameTitle }}</span></a
            >
          </li>
        </ul>
        <div *ngIf="avatarUrl$ | async as avatar">
          <img
            class="mr-2"
            [src]="avatar"
            width="24"
            height="24"
            title="{{ userName$ | async }}'s avatar"
          />
          <span class="pr-2 d-none d-sm-inline-block"
            >Welcome, {{ userName$ | async }}
          </span>
          <a href="#" (click)="logout()">Logout</a>
        </div>

        <button
          *ngIf="(isAuthorized$ | async) === false"
          class="btn btn-outline-success d-flex"
          (click)="login()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-dark sticky-top mb-3"
  *ngIf="displaySearchBar$ | async"
>
  <div class="navbar navbar-expand">
    <div class="row flex-grow-1">
      <div class="col-xl-2"></div>
      <div class="col-12 col-xl-8 d-flex align-items-center">
        <form class="form-inline flex-nowrap flex-grow-1">
          <input
            name="search"
            class="search-bar form-control w-100"
            type="search"
            placeholder="Search"
            autofocus
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchUpdate($event)"
          />
          <button
            class="btn btn-outline-secondary ml-2 d-none d-sm-inline-block"
            type="button"
            (click)="clear()"
          >
            Clear
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
