.search-bar {
  max-width: 450px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
