<h5>{{ "ui.structList.title" | translate }}</h5>

<div class="row mb-2" *ngIf="structNames?.length > 10">
  <div class="col-12">
    <div class="input-group">
      <input
        type="text"
        class="form-control filter-input"
        [placeholder]="'ui.shared.filter' | translate"
        [(ngModel)]="filterQuery"
      />
      <div class="input-group-append">
        <scl-icon-button
          icon="clear"
          [title]="'ui.header.searchClear' | translate"
          (clicked)="filterQuery = ''"
        ></scl-icon-button>
      </div>
    </div>
  </div>
</div>

<div class="scroll-container" [attr.translate]="'no'">
  <pre *ngIf="structNames?.length; else noStructs" class="sample">
@for(structName of structNames; track structName) {@if(structName.toLowerCase().includes(filterQuery.toLowerCase())) {<div><a [routerLink]="['/', game, 'native', 'structs', structName]">{{ structName }}</a></div>}}
</pre>
</div>

<ng-template #noStructs>
  <div class="my-3">{{ "ui.structList.noStructs" | translate }}</div>
</ng-template>
