<div class="input-group">
  <div class="dropdown">
    <button
      type="button"
      [disabled]="disabled"
      class="btn btn-secondary dropdown-toggle"
      data-toggle="dropdown"
      data-offset="0,0"
      data-display="static"
    >
      {{ label }}
    </button>
    <div class="dropdown-menu" [ngClass]="{ narrow: narrowDropdown }">
      <div
        class="dropdown-item input-group"
        *ngIf="canInput || choicesUi.length > 10"
      >
        <input
          class="form-control"
          type="text"
          [(ngModel)]="freeInput"
          [placeholder]="'ui.shared.filter' | translate"
        />
        <div class="input-group-append" *ngIf="canInput">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="update(freeInput)"
          >
            {{ "ui.picker.addNew" | translate }}
          </button>
        </div>
      </div>
      <div class="choices-list">
        @for(choice of choicesUi; track choice.value) {
        @if(choice.value.toLowerCase().includes(freeInput.toLowerCase())) {
        <button class="dropdown-item" (click)="update(choice.value)">
          <span *ngIf="choice.prefix" class="text-muted"
            >{{ choice.prefix }}&nbsp;&nbsp;</span
          >{{ choice.value }}

          <kbd class="float-right" *ngIf="choice.hotkey">{{
            choice.hotkey
          }}</kbd>
        </button>
        }}
      </div>
    </div>
  </div>
  <input
    type="text"
    class="form-control"
    [ngModel]="model"
    readonly
    [ngClass]="{ 'is-invalid': invalid }"
  />
</div>
