/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

@import "@forevolve/bootstrap-dark/scss/bootstrap-dark";

$success: #baf042;

html {
  font-size: 14px;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-width: 360px;

  // sticky footer
  padding-bottom: 30px;

  // and submit banner
  &.has-unsubmitted-changes {
    padding-bottom: 90px;
  }
}

code,
pre.sample {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: $success;
}

pre.sample {
  margin-bottom: 0;
  background: #444;
  border: 1px solid;
  border-radius: 4px;
  padding: 1rem;
}

em {
  background-color: #912200;
  font-style: normal;
}

a:not(.nav-link, .page-link) {
  text-decoration: underline;
}

.btn-outline-secondary {
  color: #aaa;
}

.btn-outline-success,
.btn-outline-success[disabled] {
  color: $success;
  border-color: $success;
}

.spinner-color {
  color: $success;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .modal-dialog {
    max-width: 75%;
  }
}

input[type="radio"],
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

scl-icon + scl-icon {
  margin-left: 0.5rem;
}
