/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

@import "@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "firacode";

$success: #baf042;

html {
  font-size: 14px;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: $success;
}

em {
  background-color: #912200;
  font-style: normal;
}

a {
  text-decoration: underline;
}

.btn-outline-secondary {
  color: #aaa;
}
.btn-outline-success {
  color: $success;
  border-color: $success;
}

.input-group-text {
  margin-right: -2px;
}
