/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

@import "@forevolve/bootstrap-dark/scss/bootstrap-dark";

$success: #baf042;

html {
  font-size: 14px;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-width: 300px;
  padding-bottom: 30px;
}

code {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: $success;
}

em {
  background-color: #912200;
  font-style: normal;
}

a:not(.nav-link) {
  text-decoration: underline;
}

.btn-outline-secondary {
  color: #aaa;
}
.btn-outline-success {
  color: $success;
  border-color: $success;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .modal-dialog {
    max-width: 75%;
  }
}
