/* You can add global styles to this file, and also import other style files */
@import "bootstrap";

@import "@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "variables";

html {
  font-size: 14px;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-width: 360px;

  // sticky footer
  padding-bottom: 30px;

  // and submit banner
  &.has-unsubmitted-changes {
    padding-bottom: 90px;
  }
}

code,
pre.sample {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: $color-success;

  a {
    color: $color-success;
    text-decoration: none !important;
    border-bottom: 1px dotted $color-success;
    &:hover {
      border-bottom: 1px dotted #878787;
    }
  }
}

pre.sample {
  margin-bottom: 0;
  border: 1px dotted;
  border-radius: 4px;
  padding: 1rem;
  background: #212529;
}

em {
  background-color: $color-highlight;
  font-style: normal;
}

a:not(.nav-link, .page-link) {
  text-decoration: underline;
}

.btn-outline-secondary {
  color: $color-secondary;
}

.btn-outline-success,
.btn-outline-success[disabled] {
  color: $color-success;
  border-color: $color-success;
}

.spinner-color {
  color: $color-success;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .modal-dialog {
    max-width: 75%;
  }
}

input[type="radio"],
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

scl-icon + scl-icon {
  margin-left: 0.5rem;
}

.cdk-drag-preview {
  z-index: 1100 !important;
}

label.form-check-label {
  display: flex;
  align-items: center;
  margin: 0;

  [type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + .checkbox::before {
      background: $color-success;
      border-color: $color-success;
    }

    &:disabled + .checkbox::before {
      background: $color-checkbox-disabled;
      border-color: $color-checkbox-disabled;
    }

    &:focus + .checkbox::before {
      box-shadow: 0 0px 8px $color-success;
    }

    & + .checkbox::after {
      content: "";
      position: absolute;
      line-height: 1rem;
      text-align: center;
      color: black;
      top: 0px;
      left: 0px;
      margin: 0 3px;
      height: 1rem;
      width: 1rem;
      border: 1px rgba(0, 0, 0, 0) solid;
      opacity: 0;
    }

    &:checked + .checkbox::after {
      opacity: 1;
    }
  }

  .checkbox {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      margin: 0 3px;
      height: 1rem;
      width: 1rem;
      border: 1px $color-checkbox-disabled solid;
      border-radius: 3px;
    }
  }
}
