@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "@forevolve/bootstrap-dark/scss/_dark-variables.scss";

$color-success: #baf042;
$color-highlight: #912200;
$color-secondary: #aaaaaa;
$color-checkbox-disabled: #e9ecef;
