.breadcrumb {
  margin-bottom: 0;
  flex-wrap: nowrap;
  max-width: calc(100vw - 30px);
}

.breadcrumb-item {
  // overflow: hidden;
  // text-overflow: ellipsis;
  white-space: nowrap;
}


@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    content: "" !important;
    padding-right: 0 !important;
  }
}
