<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-12 col-xl-8">
      <h1>{{ "ui.homePage.title" | translate }}</h1>
      <p
        class="lead mt-5"
        [innerHTML]="'ui.homePage.description' | translate"
      ></p>

      <p class="lead" [innerHTML]="'ui.homePage.extensions' | translate"></p>

      <p class="lead">{{ "ui.homePage.thanksTo" | translate }}:</p>

      <ul class="list-unstyled">
        <li>
          <a href="https://www.gtagmodding.com/opcode-database"
            >https://www.gtagmodding.com/opcode-database</a
          >
        </li>
        <li>
          <a href="https://gtamods.com/wiki/List_of_opcodes"
            >https://gtamods.com/wiki/List_of_opcodes</a
          >
        </li>
        <li>
          <a href="https://github.com/GTAmodding"
            >https://github.com/GTAmodding</a
          >
        </li>
        <li>
          <a href="https://github.com/DK22Pac/plugin-sdk"
            >https://github.com/DK22Pac/plugin-sdk</a
          >
        </li>
      </ul>

      <p class="lead" [innerHTML]="'ui.homePage.explore' | translate"></p>

      <div class="card my-4">
        <div class="card-body">
          <h4>{{ "ui.homePage.latestNews" | translate }}:</h4>

          <div *ngFor="let news of feed$ | async | slice : 0 : feedLimit">
            <div>
              <span class="pr-3">{{ news.date }}</span>
              <span [innerHTML]="news.content | sanitize"></span>
            </div>
          </div>

          <div class="mt-3">
            <button
              class="btn small btn-outline-secondary"
              *ngIf="feedLimit !== 999"
              (click)="feedLimit = 999"
            >
              {{ "ui.homePage.showAll" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
