<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-12 col-xl-8">
      <h1>{{ "ui.homePage.title" | translate }}</h1>
      <p
        class="lead mt-5"
        [innerHTML]="'ui.homePage.description' | translate"
      ></p>

      <p class="lead" [innerHTML]="'ui.homePage.extensions' | translate"></p>

      <p class="lead" [innerHTML]="'ui.homePage.explore' | translate"></p>

      <p class="lead">{{ "ui.homePage.thanksTo" | translate }}:</p>
      <ul class="list-unstyled">
        <li>
          <a href="https://www.gtagmodding.com/opcode-database"
            >https://www.gtagmodding.com/opcode-database</a
          >
        </li>
        <li>
          <a href="https://gtamods.com/wiki/List_of_opcodes"
            >https://gtamods.com/wiki/List_of_opcodes</a
          >
        </li>
        <li>
          <a href="https://github.com/GTAmodding"
            >https://github.com/GTAmodding</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
