<div class="card mb-3">
  <div class="card-body flex-column">
    <h5 class="mb-3">{{ "ui.layout.downloads" | translate }}</h5>
    <ul class="nav navbar-dark flex-row flex-xl-column">
      <li class="pr-2">
        <a [href]="'/assets/' + getExtensions(game)" target="_blank" download
          >{{ game }}.json</a
        >
        | <a href="#" (click)="customize()">{{ "ui.layout.customJson" | translate }}</a>
      </li>
      <li class="pr-2">
        <a [href]="getClasses(game)" target="_blank" download>classes.db</a>
      </li>
      <li class="pr-2">
        <a [href]="getEnums(game)" target="_blank" download>enums.txt</a>
      </li>
      <li class="pr-2">
        <a [href]="getEnumsJs(game)" target="_blank" download>enums.js</a>
      </li>
      <li class="pr-2">
        <a [href]="getKeywords(game)" target="_blank" download>keywords.txt</a>
      </li>
    </ul>
  </div>
</div>
