<div class="row mb-2" *ngIf="isScriptViewContext(viewContext)">
  <div class="col-12 d-flex justify-content-end">
    <scl-game-links [links]="getGameLinks()"> </scl-game-links>
  </div>
</div>

<h5>
  {{
    "ui." +
      (isCodeViewContext(viewContext) ? "versionList" : "extensionList") +
      ".title" | translate
  }}
</h5>

<div class="scroll-container" [attr.translate]="'no'">
  <pre
    *ngIf="extensions.length; else noExtensions"
    class="sample"
  ><div *ngFor="let extension of extensions"><a [routerLink]="[baseHref, extension.name]">{{ extension.name }}</a> <span class="secondary">({{ "ui." + (isCodeViewContext(viewContext) ? "versionList" : "extensionList") + ".numCommands" | translate: { total: extension.commands.length } }})</span></div></pre>
</div>

<ng-template #noExtensions>
  <div class="my-3">
    {{
      "ui." +
        (isCodeViewContext(viewContext) ? "versionList" : "extensionList") +
        ".noExtensions" | translate
    }}
  </div>
</ng-template>
