.scroll-container {
  overflow: auto;
  max-height: calc(100% - 119px);
  padding-right: 16px;
  height: 100%;
}

:host-context(.modal) .scroll-container {
  max-height: calc(100vh - 198px);
}

a + a {
  margin-left: 0.5rem;
}
