.scroll-container {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding-right: 16px;
}

.sample {
  margin-bottom: 0;
}

:host {
  max-height: calc(100vh - 198px);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
