@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "@forevolve/bootstrap-dark/scss/dark-variables";

.dropdown-menu.show {
  min-width: 200px;
}

.choices-list {
  max-height: 400px;
  overflow-y: scroll;
}

.dropdown-menu.active,
.dropdown-menu:active,
.dropdown-item.active,
.dropdown-item:active {
  background: $dropdown-bg;
  color: $dropdown-color;
}

.btn.dropdown-toggle {
  background: $gray-800;
}

.dropdown-toggle {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host {
  display: block;
  margin-bottom: 1px;

  &.invalid {
    outline: 1px solid $red;

    .dropdown-toggle,
    input.form-control {
      border-radius: 0;
    }
  }
}

:host-context(.input-group) {
  .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
