<div class="input-group">
  <div class="dropdown">
    <button
      type="button"
      [disabled]="disabled"
      class="btn btn-secondary dropdown-toggle"
      data-toggle="dropdown"
      data-offset="0,0"
      data-display="static"
    >
      {{ label }}
    </button>
    <div class="dropdown-menu">
      <div class="choices-list">
        <button
          class="dropdown-item"
          *ngFor="let choice of choicesUi"
          (click)="update(choice.value)"
        >
          <span *ngIf="choice.prefix" class="text-muted"
            >{{ choice.prefix }}&nbsp;&nbsp;</span
          >{{ choice.value }}
        </button>
      </div>
      <div class="dropdown-item input-group" *ngIf="canInput">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="freeInput"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="update(freeInput)"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
  <input
    type="text"
    class="form-control"
    [ngModel]="model"
    readonly
    (keydown)="onkeydown($event)"
  />
</div>
