<div
  class="accordion mb-3"
  id="left-rail"
  *ngIf="extensionNames$ | async as extensionNames"
>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          {{ "ui.filters.filterExtensions" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <div
          class="d-sm-inline-block d-xl-block pr-2"
          *ngFor="let name of extensionNames"
        >
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isExtensionChecked(name) | async"
              (ngModelChange)="selectExtension(name, $event)"
            />
            <span class="checkbox"></span>
            {{ name }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          {{ "ui.filters.filterClasses" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isClassChecked('any') | async"
              (ngModelChange)="selectClass('any', $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.anyClass" | translate }}
          </label>
        </div>
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isClassChecked('none') | async"
              (ngModelChange)="selectClass('none', $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.noClass" | translate }}
          </label>
        </div>
        <hr />
        <div
          class="d-sm-inline-block d-xl-block pr-2"
          *ngFor="let entity of selectedExtensionEntities$ | async"
        >
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isClassChecked(entity.name) | async"
              (ngModelChange)="selectClass(entity.name, $event)"
            />
            <span class="checkbox"></span>
            <span class="text-muted">{{
              entity.type === "dynamic" ? "class" : "static"
            }}</span
            >&nbsp;{{ entity.name }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          {{ "ui.filters.filterAttributes" | translate }}
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <ng-container
          *ngTemplateOutlet="attrs; context: { $implicit: 'only' }"
        ></ng-container>

        <hr />
        <ng-container
          *ngTemplateOutlet="attrs; context: { $implicit: 'except' }"
        ></ng-container>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mb-3">
  <scl-icon-button
    [routerLink]="['/', game, 'find']"
    [label]="'ui.layout.findCommand' | translate"
    icon="tree"
    type="success"
  ></scl-icon-button>
</div>

<ng-template #attrs let-modifier>
  <div class="mb-3">{{ "ui.filters." + modifier | translate }}:</div>

  <div
    class="d-sm-inline-block d-xl-block pr-2"
    *ngFor="let attribute of attributes"
  >
    <label
      class="form-check-label"
      [title]="'ui.attributes.' + attribute | translate"
    >
      <input
        type="checkbox"
        [ngModel]="isAttributeChecked(attribute, modifier) | async"
        (ngModelChange)="toggleAttribute(attribute, modifier)"
      />
      <span class="checkbox"></span>
      {{ attribute }}
    </label>
  </div>
</ng-template>
