<div
  class="accordion mb-3"
  id="left-rail"
  *ngIf="extensionNames$ | async as extensionNames"
>
  <div class="card" *ngIf="platforms.length > 1">
    <div class="card-header" id="headingFilterPlatforms">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapsePlatforms"
          aria-expanded="false"
          aria-controls="collapsePlatforms"
        >
          {{ "ui.filters.filterPlatforms" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapsePlatforms"
      class="collapse"
      aria-labelledby="headingFilterPlatforms"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isPlatformChecked(Platform.Any) | async"
              (click)="selectPlatform(Platform.Any, $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.anyPlatform" | translate }}
          </label>
        </div>
        <div
          class="d-sm-inline-block d-xl-block pr-2"
          *ngFor="let platform of platforms"
        >
          <label class="form-check-label" [attr.translate]="'no'">
            <input
              type="checkbox"
              [ngModel]="isPlatformChecked(platform) | async"
              (click)="selectPlatform(platform, $event)"
            />
            <span class="checkbox"></span>
            {{ platform }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="versions.length > 1">
    <div class="card-header" id="headingFilterVersions">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseVersions"
          aria-expanded="false"
          aria-controls="collapseVersions"
        >
          {{ "ui.filters.filterVersions" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapseVersions"
      class="collapse"
      aria-labelledby="headingFilterVersions"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isVersionChecked(Version.Any) | async"
              (click)="selectVersion(Version.Any, $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.anyVersion" | translate }}
          </label>
        </div>
        <hr />
        <div
          class="d-sm-inline-block d-xl-block pr-2"
          *ngFor="let version of versions"
        >
          <label class="form-check-label" [attr.translate]="'no'">
            <input
              type="checkbox"
              [ngModel]="isVersionChecked(version) | async"
              (click)="selectVersion(version, $event)"
            />
            <span class="checkbox"></span>
            {{ version }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFilterExtensions">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExtensions"
          aria-expanded="false"
          aria-controls="collapseExtensions"
        >
          {{ "ui.filters.filterExtensions" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapseExtensions"
      class="collapse"
      aria-labelledby="headingFilterExtensions"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isExtensionChecked('any') | async"
              (click)="selectExtension('any', extensionNames, $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.anyExtension" | translate }}
          </label>
        </div>
        <hr />
        <div
          class="d-sm-inline-block d-xl-block pr-2"
          *ngFor="let name of extensionNames"
        >
          <label class="form-check-label" [attr.translate]="'no'">
            <input
              type="checkbox"
              [ngModel]="isExtensionChecked(name) | async"
              (click)="selectExtension(name, extensionNames, $event)"
            />
            <span class="checkbox"></span>
            {{ name }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFilterClasses">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          {{ "ui.filters.filterClasses" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingFilterClasses"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isClassChecked('any') | async"
              (ngModelChange)="selectClass('any', $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.anyClass" | translate }}
          </label>
        </div>
        <div class="d-sm-inline-block d-xl-block pr-2">
          <label class="form-check-label">
            <input
              type="checkbox"
              [ngModel]="isClassChecked('none') | async"
              (ngModelChange)="selectClass('none', $event)"
            />
            <span class="checkbox"></span>
            {{ "ui.filters.noClass" | translate }}
          </label>
        </div>
        <hr />
        <div
          class="d-sm-inline-block d-xl-block pr-2"
          *ngFor="let entity of selectedExtensionEntities$ | async"
        >
          <label class="form-check-label" [attr.translate]="'no'">
            <input
              type="checkbox"
              [ngModel]="isClassChecked(entity.name) | async"
              (ngModelChange)="selectClass(entity.name, $event)"
            />
            <span class="checkbox"></span>
            <span class="text-muted">{{
              entity.type === "dynamic" ? "class" : "static"
            }}</span
            >&nbsp;{{ entity.name }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFilterAttrs">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseAttrs"
          aria-expanded="false"
          aria-controls="collapseAttrs"
        >
          {{ "ui.filters.filterAttributes" | translate }}
        </button>
      </h2>
    </div>
    <div
      id="collapseAttrs"
      class="collapse"
      aria-labelledby="headingFilterAttrs"
      data-parent="#left-rail"
    >
      <div class="card-body">
        <ng-container
          *ngTemplateOutlet="attrs; context: { $implicit: 'only' }"
        ></ng-container>

        <hr />
        <ng-container
          *ngTemplateOutlet="attrs; context: { $implicit: 'except' }"
        ></ng-container>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mb-3">
  <scl-icon-button
    [routerLink]="['/', game, 'script', 'find']"
    [label]="'ui.layout.findCommand' | translate"
    icon="tree"
    type="success"
  ></scl-icon-button>
</div>

<ng-template #attrs let-modifier>
  <div class="mb-3">{{ "ui.filters." + modifier | translate }}:</div>

  <div
    class="d-sm-inline-block d-xl-block pr-2"
    *ngFor="let attribute of attributes"
  >
    <label
      class="form-check-label"
      [title]="'ui.attributes.' + attribute | translate"
      [attr.translate]="'no'"
    >
      <input
        type="checkbox"
        [ngModel]="isAttributeChecked(attribute, modifier) | async"
        (ngModelChange)="toggleAttribute(attribute, modifier)"
      />
      <span class="checkbox"></span>
      {{ attribute }}
    </label>
  </div>
</ng-template>
