<ng-container *ngIf="viewMode$ | async as viewMode">
  <ng-container *ngIf="game$ | async as game">
    <ng-container *ngIf="viewContext$ | async as viewContext">
      <div class="container-fluid mt-3">
        <div
          class="row"
          *ngIf="{ collapsed: isSidebarCollapsed$ | async } as sidebar"
        >
          <div
            class="col-12 col-xl-2 left-rail"
            [ngClass]="{ collapsed: sidebar.collapsed }"
            *ngIf="screenSize >= 1200"
          >
            <!-- <div class="card mb-3">
              <div class="flex-column">
                <button
                  class="btn btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseDownload"
                  aria-expanded="false"
                  aria-controls="collapseDownload"
                >
                  {{ "ui.layout.downloads" | translate }}
                </button>
                <div id="collapseDownload" class="collapse card-body">
                  <scl-download-panel [game]="game"></scl-download-panel>
                </div>
              </div>
            </div> -->

            <div class="card mb-3">
              <div class="flex-column">
                <button
                  class="btn btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseScmTree"
                  aria-expanded="false"
                  aria-controls="collapseScmTree"
                  data-hotkey="f,F"
                >
                  {{ "ui.scm.files" | translate }}
                  <span class="pl-2"><kbd>f</kbd></span>
                </button>
                <div id="collapseScmTree" class="collapse card-body show">
                  <scl-scm-tree
                    [activeFile]="activeFile$ | async"
                    [game]="game"
                    [tree]="tree$ | async"
                  ></scl-scm-tree>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="flex-column">
                <button
                  class="btn btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseScmXrefs"
                  aria-expanded="false"
                  aria-controls="collapseScmXrefs"
                  data-hotkey="x,X"
                >
                  {{ "ui.scm.xrefs" | translate }}

                  <ng-container *ngIf="xrefs$ | async as xrefs">
                    @if (xrefs.length > 0) {
                      ({{ xrefs.length }})
                    }
                  </ng-container>

                  <span class="pl-2"><kbd>x</kbd></span>
                </button>
                <div id="collapseScmXrefs" class="collapse card-body">
                  <scl-scm-xrefs
                    [game]="game"
                    [xrefs]="xrefs$ | async"
                  ></scl-scm-xrefs>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="flex-column">
                <button
                  class="btn btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseScmRefs"
                  aria-expanded="false"
                  aria-controls="collapseScmRefs"
                  data-hotkey="n,N"
                >
                  {{ "ui.scm.refs" | translate }}
                  <span class="pl-2"><kbd>n</kbd></span>
                </button>
                <div id="collapseScmRefs" class="collapse card-body">
                  <scl-scm-refs
                    [refs]="refs$ | async"
                    [activeFragment]="activeFragment"
                  ></scl-scm-refs>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="flex-column">
                <button
                  class="btn btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseDisplayOptions"
                  aria-expanded="false"
                  aria-controls="collapseDisplayOptions"
                >
                  {{ "ui.scm.displayOptions" | translate }}
                </button>
                <div id="collapseDisplayOptions" class="collapse card-body">
                  <ng-container
                    [ngTemplateOutlet]="displayOptionsTemplate"
                  ></ng-container>
                </div>
              </div>
            </div>

            <button
              class="btn btn-sm collapse-button d-none d-xl-block"
              (click)="toggleSidebar()"
            >
              <div class="d-flex align-items-center">
                <scl-icon-button
                  *ngIf="sidebar.collapsed"
                  icon="uncollapse"
                ></scl-icon-button>

                <scl-icon-button
                  *ngIf="!sidebar.collapsed"
                  icon="collapse"
                  [label]="'ui.layout.collapseSidebar' | translate"
                ></scl-icon-button>
              </div>
            </button>
          </div>

          <main
            class="col-12"
            [ngClass]="{
              'col-xl-5':
                shouldDisplayRightRail(viewMode) && !sidebar.collapsed,
              'col-xl-8':
                !shouldDisplayRightRail(viewMode) && !sidebar.collapsed,
              'col-xl-6': shouldDisplayRightRail(viewMode) && sidebar.collapsed,
              'col-xl-9':
                !shouldDisplayRightRail(viewMode) && sidebar.collapsed,
            }"
          >
            <div class="d-flex flex-row align-items-center">
              <scl-breadcrumbs
                class="mr-auto"
                [game]="game"
                [screenSize]="screenSize"
                [viewContext]="viewContext"
              ></scl-breadcrumbs>

              <div class="d-flex flex-row">
                <!-- <button
                  *ngIf="canEdit$ | async"
                  class="btn btn-outline-secondary dropdown-toggle mb-3"
                  data-toggle="dropdown"
                  data-offset="0,0"
                  aria-haspopup="true"
                  aria-expanded="false"
                  [title]="'ui.layout.new' | translate"
                >
                  <svg
                    style="margin-top: -3px"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-plus"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                    />
                  </svg>
                  <span class="d-none d-sm-inline">{{
                    "ui.layout.new" | translate
                  }}</span>
                </button> -->
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    *ngIf="isScriptViewContext(viewContext)"
                    [routerLink]="['/', game, 'scm', 'enums', 'new']"
                    >{{ "ui.layout.newEnum" | translate }}</a
                  >
                  <a
                    class="dropdown-item"
                    *ngIf="isScriptViewContext(viewContext)"
                    [routerLink]="[
                      '/',
                      game,
                      'scm',
                      'extensions',
                      extensionToCreateCommands$ | async,
                      'new',
                    ]"
                    >{{ "ui.layout.newCommand" | translate }}</a
                  >
                  <a
                    class="dropdown-item"
                    *ngIf="isCodeViewContext(viewContext)"
                    [routerLink]="[
                      '/',
                      game,
                      'native',
                      'versions',
                      extensionToCreateCommands$ | async,
                      'new',
                    ]"
                    >{{ "ui.layout.newFunction" | translate }}</a
                  >
                </div>

                <button
                  class="btn btn-outline-secondary mb-3 ml-2"
                  *ngIf="screenSize < 1200"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseScmTreeMobile"
                  aria-expanded="false"
                  aria-controls="collapseScmTreeMobile"
                  [title]="'ui.scm.files' | translate"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-folder"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"
                    />
                  </svg>
                  <span class="d-none d-sm-inline pl-2">{{
                    "ui.scm.files" | translate
                  }}</span>
                </button>

                <button
                  class="btn btn-outline-secondary mb-3 ml-2"
                  *ngIf="screenSize < 1200"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseScmXrefsMobile"
                  aria-expanded="false"
                  aria-controls="collapseScmXrefsMobile"
                  [title]="'ui.scm.xrefs' | translate"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-bezier2"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01q.269.27.484.605C8.246 5.097 8.5 6.459 8.5 8c0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a3 3 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"
                    />
                  </svg>
                  <span class="d-none d-sm-inline pl-2">{{
                    "ui.scm.xrefs" | translate
                  }}</span>
                </button>

                <button
                  class="btn btn-outline-secondary mb-3 ml-2"
                  *ngIf="screenSize < 1200"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseScmRefsMobile"
                  aria-expanded="false"
                  aria-controls="collapseScmRefsMobile"
                  [title]="'ui.scm.refs' | translate"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-list-columns-reverse"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5m-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
                    />
                  </svg>
                  <span class="d-none d-sm-inline pl-2">{{
                    "ui.scm.refs" | translate
                  }}</span>
                </button>

                <button
                  class="btn btn-outline-secondary mb-3 ml-2"
                  *ngIf="screenSize < 1200"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseDisplayOptionsMobile"
                  aria-expanded="false"
                  aria-controls="collapseDisplayOptionsMobile"
                  [title]="'ui.scm.displayOptions' | translate"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-ui-checks"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"
                    />
                  </svg>
                  <span class="d-none d-sm-inline pl-2">{{
                    "ui.scm.displayOptions" | translate
                  }}</span>
                </button>

                <!-- <button
                  class="btn btn-outline-secondary mb-3 ml-2"
                  *ngIf="screenSize < 1200"
                  (click)="displayDownloads()"
                  [title]="'ui.layout.downloads' | translate"
                >
                  <svg
                    style="margin-top: -4px"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-download"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
                    />
                    <path
                      d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
                    />
                  </svg>
                  <span class="d-none d-sm-inline pl-2">{{
                    "ui.layout.downloads" | translate
                  }}</span>
                </button> -->
              </div>
            </div>

            <ng-container *ngIf="screenSize < 1200">
              <div id="collapseScmTreeMobile" class="collapse mb-3">
                <div class="card card-body">
                  <scl-scm-tree
                    [activeFile]="activeFile$ | async"
                    [game]="game"
                    [tree]="(tree$ | async) ?? []"
                  ></scl-scm-tree>
                </div>
              </div>

              <div id="collapseScmRefsMobile" class="collapse mb-3">
                <div class="card card-body">
                  <scl-scm-refs
                    [refs]="refs$ | async"
                    [activeFragment]="activeFragment"
                  ></scl-scm-refs>
                </div>
              </div>

              <div id="collapseScmXrefsMobile" class="collapse mb-3">
                <div class="card card-body">
                  <scl-scm-xrefs
                    [game]="game"
                    [xrefs]="xrefs$ | async"
                  ></scl-scm-xrefs>
                </div>
              </div>

              <div id="collapseDisplayOptionsMobile" class="collapse mb-3">
                <div class="card card-body">
                  <ng-container
                    [ngTemplateOutlet]="displayOptionsTemplate"
                  ></ng-container>
                </div>
              </div>
            </ng-container>

            <div class="d-flex flex-row justify-content-center mb-3">
              <span>
                <a
                  [routerLink]="[]"
                  [queryParams]="{ rail: 'refs' }"
                  queryParamsHandling="merge"
                  data-hotkey="l,L"
                  >{{ "ui.scm.refList" | translate }}</a
                >
                <span class="pl-2"><kbd>l</kbd></span></span
              >
              <span class="mx-3"></span>
              <span>
                <a
                  [routerLink]="[]"
                  [queryParams]="{ rail: 'variables' }"
                  queryParamsHandling="merge"
                  data-hotkey="v,V"
                  >{{ "ui.scm.varList" | translate }}</a
                >
                <span class="pl-2"><kbd>v</kbd></span>
              </span>
            </div>

            <ng-container *ngIf="code$ | async as code; else loading">
              <ng-container
                *ngIf="variablesOverlay$ | async as variablesOverlay"
              >
                <ng-container *ngIf="refsOverlay$ | async as refsOverlay">
                  <ng-container *ngIf="map$ | async as map">
                    <scl-scm-view
                      [code]="code"
                      [commands]="getCommands() | async"
                      [variablesOverlay]="variablesOverlay"
                      [refsOverlay]="refsOverlay"
                      [scmMap]="map"
                      [game]="game"
                      [viewContext]="viewContext"
                      [activeFragment]="activeFragment"
                      [showLineNumbers]="showLineNumbers$ | async"
                      [showOffsets]="showOffsets$ | async"
                      [adjustOffsets]="(adjustOffsets$ | async) ? 8 : 0"
                    ></scl-scm-view>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </main>

          <div
            class="col-xl-5 right-rail no-scroll"
            [ngClass]="{
              extended: sidebar.collapsed,
            }"
            *ngIf="
              shouldDisplayRightRail(viewMode) &&
              screenSize >= 1200 &&
              !isFullScreenMode
            "
          >
            <ng-container *ngTemplateOutlet="rightRail"></ng-container>
            <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
          </div>
        </div>
      </div>

      <scl-modal
        *ngIf="
          shouldDisplayRightRail(viewMode) &&
          (screenSize < 1200 || isFullScreenMode)
        "
        [size]="screenSize >= 1200 ? 'modal-xl' : 'modal-lg'"
        (close)="
          (screenSize < 1200 || isFullScreenMode) && onCancel();
          isFullScreenMode = false
        "
      >
        <div class="modal-body">
          <ng-container *ngTemplateOutlet="rightRail"></ng-container>
        </div>
        <ng-container class="modal-footer">
          <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
        </ng-container>
      </scl-modal>

      <!-- <scl-modal
        *ngIf="viewMode === ViewMode.ViewDownloads"
        (close)="onCancel()"
      >
        <div class="modal-body">
          <scl-download-panel [game]="game"></scl-download-panel>
        </div>
        <ng-container class="modal-footer">
          <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
        </ng-container>
      </scl-modal> -->

      <ng-template #modalFooter>
        <div class="modal-footer">
          <scl-context-actions
            [screenSize]="screenSize"
            [isFullScreenMode]="isFullScreenMode"
            (fullScreenModeChange)="isFullScreenMode = $event"
          ></scl-context-actions>
        </div>
      </ng-template>

      <ng-template #rightRail>
        <scl-context-view></scl-context-view>
      </ng-template>

      <ng-template #displayOptionsTemplate>
        <label class="form-check-label btn">
          <input
            type="checkbox"
            [ngModel]="showLineNumbers$ | async"
            (ngModelChange)="toggleShowLineNumbers($event)"
          />

          <span class="checkbox"></span>
          {{ "ui.scm.showLineNumbers" | translate }}
        </label>
        <label class="form-check-label btn">
          <input
            type="checkbox"
            [ngModel]="showOffsets$ | async"
            (ngModelChange)="toggleShowOffsets($event)"
          />
          <span class="checkbox"></span>
          {{ "ui.scm.showOffsets" | translate }}
        </label>
        <label
          class="form-check-label btn"
          *ngIf="
            (game === Game.vcs || game === Game.lcs) && (showOffsets$ | async)
          "
        >
          <input
            type="checkbox"
            [ngModel]="adjustOffsets$ | async"
            (ngModelChange)="toggleAdjustOffsets($event)"
          />
          <span class="checkbox"></span>
          {{ "ui.scm.adjustOffsets" | translate }}
        </label>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="d-flex">
    <div class="spinner-border spinner-color" role="status"></div>
    <span class="ml-3">{{ "ui.commandList.loading" | translate }}</span>
  </div>
</ng-template>
