.right-rail {
  .modal-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .left-rail,
  .right-rail {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    overflow-y: auto;
  }

  .left-rail {
    order: 0;
    height: calc(100vh - 10rem);

    &.collapsed {
      max-width: 60px;
      overflow: hidden;

      scl-download-panel,
      scl-filter-panel {
        visibility: hidden;
      }
    }

    transition: max-width 0.3s;
  }
  .right-rail {
    order: 2;
    height: calc(100vh - 12rem);
  }
}

main {
  order: 1;
}

.breadcrumb {
  margin-bottom: 0;
}

.collapse-button {
  position: fixed;
  bottom: 36px;
  left: 18px;
  z-index: 1032;
}

.sidebar-icon {
  line-height: 1;
}

:host-context(.has-unsubmitted-changes) {
  .collapse-button {
    bottom: 86px;
  }
}
