.right-rail {
  .modal-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .left-rail,
  .right-rail {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 12rem);
    overflow-y: auto;
  }

  .left-rail {
    order: 0;
  }
  .right-rail {
    order: 2;
  }
}

main {
  order: 1;
}

.breadcrumb {
  margin-bottom: 0;
}
