<ng-container *ngIf="viewMode$ | async as viewMode">
  <ng-container *ngIf="game$ | async as game">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-xl-2 left-rail" #sidebar>
          <scl-download-panel [game]="game"></scl-download-panel>
          <scl-filter-panel [game]="game"></scl-filter-panel>
          <button
            class="btn btn-sm collapse-button d-none d-xl-block"
            (click)="toggleSidebar()"
          >
            <div class="d-flex align-items-center">
              <ng-container *ngTemplateOutlet="collapseIcon"></ng-container>
              <span
                *ngIf="!sidebarCollapsed"
                [title]="'ui.layout.collapseSidebar' | translate"
                >{{ "ui.layout.collapseSidebar" | translate }}</span
              >
            </div>
          </button>
        </div>

        <main
          class="col-12"
          [ngClass]="{
            'col-xl-5': viewMode !== ViewMode.None && !sidebarCollapsed,
            'col-xl-8': viewMode === ViewMode.None && !sidebarCollapsed,
            'col-xl-6': viewMode !== ViewMode.None && sidebarCollapsed,
            'col-xl-9': viewMode === ViewMode.None && sidebarCollapsed
          }"
        >
          <div class="d-flex flex-row align-items-center mb-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/">{{ "ui.header.home" | translate }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{ game | gameTitle }}
                </li>
              </ol>
            </nav>
            <button
              *ngIf="canEdit$ | async"
              class="btn btn-outline-secondary ml-auto dropdown-toggle"
              data-toggle="dropdown"
              data-offset="0,0"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ "ui.layout.new" | translate }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a
                class="dropdown-item"
                [routerLink]="['/', game, 'enums', 'new']"
                >{{ "ui.layout.newEnum" | translate }}</a
              >
              <a
                class="dropdown-item"
                [routerLink]="['/', game, DEFAULT_EXTENSION, 'new']"
                >{{ "ui.layout.newCommand" | translate }}</a
              >
            </div>
          </div>

          <scl-command-list
            [game]="game"
            [canEdit]="canEdit$ | async"
            [narrowed]="
              viewMode !== ViewMode.None &&
              screenSize >= 1200 &&
              screenSize < 1700
            "
            (descriptionClick)="onDescriptionClick($event)"
          ></scl-command-list>
        </main>

        <div
          class="col-xl-5 right-rail"
          *ngIf="viewMode !== ViewMode.None && screenSize >= 1200"
        >
          <ng-container *ngTemplateOutlet="rightRail"></ng-container>
          <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
        </div>
      </div>
    </div>

    <scl-modal *ngIf="viewMode !== ViewMode.None && screenSize < 1200">
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="rightRail"></ng-container>
      </div>
      <ng-container class="modal-footer">
        <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
      </ng-container>
    </scl-modal>

    <ng-template #modalFooter>
      <div class="modal-footer d-flex">
        <a
          href="#"
          *ngIf="!noChanges(viewMode)"
          (click)="resetChanges(viewMode)"
          class="mr-auto w-50"
          >{{ "ui.shared.resetChanges" | translate }}</a
        >
        <a
          href="#"
          *ngIf="viewMode === ViewMode.ViewClass"
          (click)="toggleInlineDesc()"
          class="mr-auto w-50"
          >{{ "ui.classOverview.toggleInlineDescription" | translate }}</a
        >
        <a
          href="#"
          *ngIf="viewMode === ViewMode.ViewCommand"
          (click)="toggleOpcodePresentation()"
          class="mr-auto w-50"
          >{{ "ui.shared.toggleOpcode" | translate }}</a
        >
        <a
          *ngIf="viewMode === ViewMode.ViewEnum"
          [routerLink]="['/', game]"
          [queryParams]="{ q: 'type:' + enumToDisplayOrEdit.name }"
          class="mr-auto w-50"
          >{{ "ui.shared.findEnumUsages" | translate }}</a
        >
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="onCancel()"
        >
          {{ "ui.shared.close" | translate }}
        </button>
        <a
          *ngIf="viewMode === ViewMode.ViewCommand && canEdit$ | async"
          class="btn btn-outline-success"
          [routerLink]="['/', game, extension, command.id, 'edit']"
        >
          {{ "ui.shared.edit" | translate }}
        </a>
        <a
          *ngIf="viewMode === ViewMode.ViewEnum && (canEdit$ | async)"
          class="btn btn-outline-success"
          [routerLink]="['/', game, 'enums', enumToDisplayOrEdit.name, 'edit']"
        >
          {{ "ui.shared.edit" | translate }}
        </a>
        <a
          *ngIf="viewMode === ViewMode.ViewAllEnums && (canEdit$ | async)"
          class="btn btn-outline-success"
          [routerLink]="['/', game, 'enums', 'new']"
        >
          {{ "ui.layout.new" | translate }}
        </a>
        <button
          *ngIf="
            viewMode === ViewMode.EditCommand || viewMode === ViewMode.EditEnum
          "
          [disabled]="shouldDisableSaveButton(viewMode)"
          type="button"
          class="btn btn-outline-success"
          (click)="onSave(viewMode)"
        >
          {{ "ui.shared.save" | translate }}
        </button>
      </div>
    </ng-template>

    <ng-template #rightRail>
      <scl-command-editor
        *ngIf="viewMode === ViewMode.EditCommand && command"
        [command]="command"
        [(extension)]="extension"
        [(snippet)]="snippet"
        [extensionNames]="extensionNames$ | async"
        [supportInfo]="getCommandSupportInfo(command, extension) | async"
        [types]="getExtensionTypes(extension, DEFAULT_EXTENSION) | async"
        [commands]="getExtensionCommands(extension) | async"
        (hasError)="editorHasError = $event"
        (delete)="onDeleteCommand()"
        (clone)="onCloneCommand($event)"
      ></scl-command-editor>
      <scl-command-info
        *ngIf="viewMode === ViewMode.ViewCommand && command"
        [command]="command"
        [game]="game"
        [types]="getExtensionTypes(extension, DEFAULT_EXTENSION) | async"
        [snippet]="getSnippet(extension, command.id) | async"
        [supportInfo]="getCommandSupportInfo(command, extension) | async"
        [relatedCommands]="findRelatedCommands(command, extension) | async"
        [extension]="extension"
        [displayOpcodePresentation]="displayOpcodePresentation$ | async"
        (descriptionClick)="onDescriptionClick($event)"
      >
      </scl-command-info>
      <scl-class-overview
        *ngIf="
          viewMode === ViewMode.ViewClass &&
          (classToDisplay$ | async) as classToDisplay
        "
        [game]="game"
        [className]="classToDisplay"
        [classCommands]="classCommands$ | async"
        [classOrigin]="getClassOrigin(classToDisplay) | async"
        (descriptionClick)="onDescriptionClick($event)"
      ></scl-class-overview>
      <scl-class-list
        *ngIf="viewMode === ViewMode.ViewAllClasses"
        [game]="game"
        [entities]="entities$ | async"
      ></scl-class-list>
      <scl-enum-overview
        *ngIf="viewMode === ViewMode.ViewEnum && enumToDisplayOrEdit"
        [enumToView]="enumToDisplayOrEdit"
        [enumGames]="getGamesWhereEnumExists(enumToDisplayOrEdit.name) | async"
      ></scl-enum-overview>
      <scl-enum-editor
        *ngIf="viewMode === ViewMode.EditEnum && enumToDisplayOrEdit"
        [game]="game"
        [enumToEdit]="enumToDisplayOrEdit"
        [enumGames]="getGamesWhereEnumExists(enumToDisplayOrEdit.name) | async"
        (hasError)="editorHasError = $event"
        (delete)="onDeleteEnum()"
        (clone)="onCloneEnum($event)"
      ></scl-enum-editor>
      <scl-enum-list
        *ngIf="viewMode === ViewMode.ViewAllEnums"
        [game]="game"
        [enumNames]="enumNames$ | async"
      ></scl-enum-list>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #collapseIcon>
  <span
    [title]="'ui.layout.uncollapseSidebar' | translate"
    class="sidebar-icon"
  >
    <svg
      *ngIf="!sidebarCollapsed"
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      fill="currentColor"
      class="bi bi-chevron-double-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
      />
      <path
        fill-rule="evenodd"
        d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
      />
    </svg>

    <svg
      *ngIf="sidebarCollapsed"
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      fill="currentColor"
      class="bi bi-chevron-double-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"
      />
      <path
        fill-rule="evenodd"
        d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"
      /></svg
  ></span>
</ng-template>
