<ng-container *ngIf="viewMode$ | async as viewMode">
  <ng-container *ngIf="game$ | async as game">
    <div class="container-fluid">
      <div
        class="row"
        *ngIf="{ collapsed: isSidebarCollapsed$ | async } as sidebar"
      >
        <div
          class="col-12 col-xl-2 left-rail"
          [ngClass]="{ collapsed: sidebar.collapsed }"
        >
          <scl-download-panel [game]="game"></scl-download-panel>
          <scl-filter-panel [game]="game"></scl-filter-panel>
          <button
            class="btn btn-sm collapse-button d-none d-xl-block"
            (click)="toggleSidebar()"
          >
            <div class="d-flex align-items-center">
              <scl-icon-button
                *ngIf="sidebar.collapsed"
                icon="uncollapse"
              ></scl-icon-button>

              <scl-icon-button
                *ngIf="!sidebar.collapsed"
                icon="collapse"
                [label]="'ui.layout.collapseSidebar' | translate"
              ></scl-icon-button>
            </div>
          </button>
        </div>

        <main
          class="col-12"
          [ngClass]="{
            'col-xl-5': viewMode !== ViewMode.None && !sidebar.collapsed,
            'col-xl-8': viewMode === ViewMode.None && !sidebar.collapsed,
            'col-xl-6': viewMode !== ViewMode.None && sidebar.collapsed,
            'col-xl-9': viewMode === ViewMode.None && sidebar.collapsed
          }"
        >
          <div
            class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center"
          >
            <nav aria-label="breadcrumb" class="mb-3 mr-auto">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/">{{ "ui.header.home" | translate }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <scl-icon [game]="game" size="16"></scl-icon>
                  {{ game | gameTitle }}
                </li>
              </ol>
            </nav>
            <button
              *ngIf="canEdit$ | async"
              class="btn btn-outline-secondary dropdown-toggle mb-3"
              data-toggle="dropdown"
              data-offset="0,0"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <svg
                style="margin-top: -3px"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
              {{ "ui.layout.new" | translate }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a
                class="dropdown-item"
                [routerLink]="['/', game, 'enums', 'new']"
                >{{ "ui.layout.newEnum" | translate }}</a
              >
              <a
                class="dropdown-item"
                [routerLink]="['/', game, DEFAULT_EXTENSION, 'new']"
                >{{ "ui.layout.newCommand" | translate }}</a
              >
            </div>
          </div>

          <div class="d-flex flex-row justify-content-center mb-3">
            <a class="mr-3" [routerLink]="['/', game, 'classes']">{{
              "ui.header.menuClasses" | translate
            }}</a>
            <a [routerLink]="['/', game, 'enums']">{{
              "ui.header.menuEnums" | translate
            }}</a>
          </div>

          <scl-command-list
            [game]="game"
            [canEdit]="canEdit$ | async"
            [narrowed]="
              viewMode !== ViewMode.None &&
              screenSize >= 1200 &&
              screenSize < 1700
            "
            (descriptionClick)="onDescriptionClick($event)"
          ></scl-command-list>
        </main>

        <div
          class="col-xl-5 right-rail"
          [ngClass]="{ extended: sidebar.collapsed }"
          *ngIf="viewMode !== ViewMode.None && screenSize >= 1200"
        >
          <ng-container *ngTemplateOutlet="rightRail"></ng-container>
          <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
        </div>
      </div>
    </div>

    <scl-modal
      *ngIf="
        viewMode !== ViewMode.None &&
        viewMode !== ViewMode.ViewGenerateJson &&
        screenSize < 1200
      "
    >
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="rightRail"></ng-container>
      </div>
      <ng-container class="modal-footer">
        <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
      </ng-container>
    </scl-modal>

    <scl-modal *ngIf="viewMode === ViewMode.ViewGenerateJson">
      <div class="modal-body">
        <scl-json-generator
          [extensionNames]="extensionNames$ | async"
          (changed)="updateGenerateJsonModel($event)"
        ></scl-json-generator>
      </div>
      <ng-container class="modal-footer">
        <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
      </ng-container>
    </scl-modal>

    <ng-template #modalFooter>
      <div class="modal-footer d-flex">
        <scl-copy-button
          *ngIf="
            getPermaLink({
              viewMode: viewMode,
              game: game,
              extension: extension,
              command: command,
              enumName: enumToDisplayOrEdit?.name,
              className: (classToDisplay$ | async)
            }) as url
          "
          [text]="url"
          icon="share"
          #shareBtn
          [title]="
            (shareBtn.hasJustCopied
              ? 'ui.shared.copied'
              : 'ui.shared.shareLink'
            ) | translate
          "
        ></scl-copy-button>

        <scl-icon-button
          *ngIf="!noChanges(viewMode)"
          icon="revert"
          [title]="'ui.shared.resetChanges' | translate"
          (clicked)="resetChanges(viewMode)"
        >
        </scl-icon-button>

        <scl-icon-button
          *ngIf="viewMode === ViewMode.ViewClass"
          [icon]="
            (displayInlineDescription$ | async) ? 'comments' : 'no-comments'
          "
          (clicked)="toggleInlineDesc()"
          [title]="'ui.classOverview.toggleInlineDescription' | translate"
        ></scl-icon-button>

        <scl-icon-button
          *ngIf="viewMode === ViewMode.ViewCommand"
          [icon]="(displayOpcodePresentation$ | async) ? 'eye-fill' : 'eye'"
          [title]="'ui.shared.toggleOpcode' | translate"
          (clicked)="toggleOpcodePresentation()"
        >
        </scl-icon-button>

        <scl-icon-button
          *ngIf="viewMode === ViewMode.ViewEnum"
          icon="search"
          [routerLink]="['/', game]"
          [queryParams]="{ q: 'type:' + enumToDisplayOrEdit.name }"
          [title]="'ui.shared.findEnumUsages' | translate"
          (click)="
            viewMode !== ViewMode.None && screenSize < 1200 && onCancel()
          "
        >
        </scl-icon-button>

        <button
          *ngIf="
            viewMode === ViewMode.ViewDecisionTree &&
            (canGoBackInDecisionTree$ | async)
          "
          class="btn btn-outline-secondary"
          (click)="treeBack()"
        >
          {{ "ui.tree.back" | translate }}
        </button>

        <button
          type="button"
          class="btn btn-outline-secondary ml-auto"
          (click)="onCancel()"
        >
          {{ "ui.shared.close" | translate }}
        </button>
        <a
          *ngIf="viewMode === ViewMode.ViewCommand && canEdit$ | async"
          class="btn btn-outline-success"
          [routerLink]="['/', game, extension, command.id, 'edit']"
          [queryParams]="getQueryParamsForCommand(command, game)"
        >
          {{ "ui.shared.edit" | translate }}
        </a>
        <a
          *ngIf="viewMode === ViewMode.ViewEnum && (canEdit$ | async)"
          class="btn btn-outline-success"
          [routerLink]="['/', game, 'enums', enumToDisplayOrEdit.name, 'edit']"
        >
          {{ "ui.shared.edit" | translate }}
        </a>
        <a
          *ngIf="viewMode === ViewMode.ViewAllEnums && (canEdit$ | async)"
          class="btn btn-outline-success"
          [routerLink]="['/', game, 'enums', 'new']"
        >
          {{ "ui.layout.new" | translate }}
        </a>
        <button
          *ngIf="
            viewMode === ViewMode.EditCommand || viewMode === ViewMode.EditEnum
          "
          [disabled]="shouldDisableSaveButton(viewMode)"
          type="button"
          class="btn btn-outline-success"
          (click)="onSave(viewMode)"
        >
          {{ "ui.shared.save" | translate }}
        </button>

        <button
          *ngIf="
            viewMode === ViewMode.ViewDecisionTree &&
            (canGoBackInDecisionTree$ | async)
          "
          class="btn btn-outline-success"
          (click)="treeRestart()"
        >
          {{ "ui.tree.startOver" | translate }}
        </button>

        <button
          *ngIf="viewMode === ViewMode.ViewGenerateJson"
          type="button"
          class="btn btn-outline-success"
          (click)="generateJson()"
        >
          {{ "ui.layout.downloads" | translate }}
        </button>
      </div>
    </ng-template>

    <ng-template #rightRail>
      <scl-decision-tree
        *ngIf="viewMode === ViewMode.ViewDecisionTree"
        [game]="game"
      ></scl-decision-tree>
      <scl-command-editor
        *ngIf="viewMode === ViewMode.EditCommand && command"
        [game]="game"
        [command]="command"
        [(extension)]="extension"
        [(snippet)]="snippet"
        [extensionNames]="extensionNames$ | async"
        [supportInfo]="getCommandSupportInfo(command, extension) | async"
        [types]="getExtensionTypes(extension, DEFAULT_EXTENSION) | async"
        [commands]="getExtensionCommands(extension) | async"
        (hasError)="editorHasError = $event"
        (delete)="onDeleteCommand()"
        (clone)="onCloneCommand($event)"
      ></scl-command-editor>
      <scl-command-info
        *ngIf="viewMode === ViewMode.ViewCommand && command"
        [command]="command"
        [game]="game"
        [types]="getExtensionTypes(extension, DEFAULT_EXTENSION) | async"
        [snippet]="getSnippet(extension, command.id) | async"
        [supportInfo]="getCommandSupportInfo(command, extension) | async"
        [relatedCommands]="findRelatedCommands(command, extension) | async"
        [extension]="extension"
        [displayOpcodePresentation]="displayOpcodePresentation$ | async"
        [classDesc]="(getClassMeta(game, command.class) | async)?.desc"
        (descriptionClick)="onDescriptionClick($event)"
      >
      </scl-command-info>
      <scl-class-overview
        *ngIf="
          viewMode === ViewMode.ViewClass &&
          (classToDisplay$ | async) as classToDisplay
        "
        [game]="game"
        [className]="classToDisplay"
        [classCommands]="classCommands$ | async"
        [classOrigin]="getClassOrigin(classToDisplay) | async"
        [meta]="getClassMeta(game, classToDisplay) | async"
        [displayInlineDescription]="displayInlineDescription$ | async"
        (descriptionClick)="onDescriptionClick($event)"
      ></scl-class-overview>
      <scl-class-list
        *ngIf="viewMode === ViewMode.ViewAllClasses"
        [game]="game"
        [entities]="entities$ | async"
        [classesMeta]="getClassesMeta(game) | async"
      ></scl-class-list>
      <scl-enum-overview
        *ngIf="viewMode === ViewMode.ViewEnum && enumToDisplayOrEdit"
        [enumToView]="enumToDisplayOrEdit"
        [game]="game"
        [enumGames]="getGamesWhereEnumExists(enumToDisplayOrEdit.name) | async"
      ></scl-enum-overview>
      <scl-enum-editor
        *ngIf="viewMode === ViewMode.EditEnum && enumToDisplayOrEdit"
        [game]="game"
        [enumToEdit]="enumToDisplayOrEdit"
        [enumGames]="getGamesWhereEnumExists(enumToDisplayOrEdit.name) | async"
        (hasError)="editorHasError = $event"
        (delete)="onDeleteEnum()"
        (clone)="onCloneEnum($event)"
      ></scl-enum-editor>
      <scl-enum-list
        *ngIf="viewMode === ViewMode.ViewAllEnums"
        [game]="game"
        [enumNames]="enumNames$ | async"
      ></scl-enum-list>
    </ng-template>
  </ng-container>
</ng-container>
