<div class="row mb-2">
  <div class="col-12">
    <div class="editor-toolbar">
      <div class="input-group filter-group">
        <input
          type="text"
          class="form-control filter-input"
          [placeholder]="filterPlaceholder"
          [ngModel]="filterQuery"
          (ngModelChange)="updateFilterQuery($event)"
        />
        <div class="input-group-append">
          <scl-icon-button
            icon="clear"
            [title]="'ui.header.searchClear' | translate"
            (clicked)="filterQuery = ''"
          ></scl-icon-button>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-outline-secondary text-nowrap"
        (click)="addRow()"
      >
        {{ addButtonText }}
      </button>
    </div>
  </div>
</div>

<div class="scroll-container">
  <ng-container *ngIf="filteredEntries.length; else emptyState">
    <div
      class="entry-row"
      *ngFor="let item of filteredEntries; trackBy: trackByIndex"
    >
      <input
        type="text"
        class="form-control form-control-sm key-input"
        #keyInput
        [ngModel]="item.key"
        (ngModelChange)="updateKey(item, $event)"
        [ngClass]="{ 'is-invalid': !item.key?.trim() }"
      />
      <input
        type="text"
        class="form-control form-control-sm value-input"
        [ngModel]="item.value"
        (ngModelChange)="updateValue(item, $event)"
        [ngClass]="{ 'is-invalid': !item.value?.trim() }"
      />
      <scl-icon-button
        class="delete-row"
        icon="delete"
        (clicked)="deleteRow(item)"
        [title]="'ui.scm.deleteRow' | translate"
      ></scl-icon-button>
    </div>
    <div class="alert alert-danger mt-3" *ngIf="isInvalid">
      <div *ngFor="let message of errorMessages">{{ message.text | translate : message.args }}</div>
    </div>
  </ng-container>
</div>

<ng-template #emptyState>
  <div class="text-muted">{{ emptyText }}</div>
</ng-template>
