[data-toggle="collapse"] {
  .collapsed-text {
    display: none;
  }
  .uncollapsed-text {
    display: inline;
  }

  &.collapsed {
    .collapsed-text {
      display: inline;
    }
    .uncollapsed-text {
      display: none;
    }
  }
}

.card-header {
  background-color: #212529;
}
