<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end">
    <scl-enum-games
      [enumName]="enumToEdit.name"
      [games]="enumGames"
    ></scl-enum-games>
  </div>
</div>

<h5>
  {{
    (enumToEdit.isNew ? "ui.enumEditor.titleNew" : "ui.enumEditor.title")
      | translate
  }}
</h5>

<hr />

<div class="row mb-2 pr-5 position-relative">
  <div class="col-12 col-md-6 mb-2 mb-md-0">
    <div class="input-group">
      <span class="input-group-text d-none d-md-inline">{{
        "ui.enumEditor.name" | translate
      }}</span>
      <input
        type="text"
        [ngModel]="enumToEdit.name"
        (ngModelChange)="onEnumNameChange($event)"
        class="form-control"
        [placeholder]="'ui.enumEditor.newEnumPlaceholder' | translate"
        autofocus
        [ngClass]="{
          'is-invalid': isDirty && !enumToEdit.name
        }"
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="input-group justify-content-md-end flex-nowrap">
      <button
        *ngIf="canClone()"
        class="btn btn-outline-secondary mr-2 dropdown-toggle"
        data-toggle="dropdown"
        data-offset="0,0"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ "ui.enumEditor.clone" | translate }}
      </button>
      <div class="dropdown-menu">
        <span
          class="dropdown-item"
          *ngFor="let target of cloneTargets"
          (click)="cloneEnum(target.value)"
          >{{ target.name }}</span
        >
      </div>
      <button
        class="btn btn-outline-secondary text-nowrap"
        (click)="addNewField()"
      >
        {{ "ui.enumEditor.addField" | translate }}
      </button>
    </div>
  </div>

  <button
    *ngIf="!enumToEdit.isNew"
    class="close delete-enum-button text-danger"
    (click)="deleteEnum()"
    [title]="'ui.enumEditor.deleteEnum' | translate"
  >
    <ng-container *ngTemplateOutlet="deleteIcon"></ng-container>
  </button>
</div>

<div
  cdkDropList
  [cdkDropListData]="enumToEdit.fields"
  [ngClass]="{ 'empty-list': !enumToEdit.fields.length }"
  (cdkDropListDropped)="drop($event)"
>
  <h5>{{ "ui.enumEditor.fields" | translate }}</h5>
  <div
    class="row mb-2 pr-5 position-relative"
    *ngFor="let field of enumToEdit.fields; let i = index"
    cdkDrag
    cdkDragBoundary="scl-enum-editor"
  >
    <div class="col-12 col-md-6">
      <div class="input-group">
        <span class="input-group-text" cdkDragHandle>{{ i + 1 }}</span>
        <input
          type="text"
          class="form-control"
          [placeholder]="'ui.enumEditor.newFieldPlaceholder' | translate"
          [ngModel]="field[0]"
          (ngModelChange)="onFieldNameChange($event, field)"
          [ngClass]="{
            'is-invalid':
              isDirty && (isFieldNameDuplicate(field[0]) || !field[0])
          }"
        />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <input
        type="text"
        class="form-control"
        [placeholder]="evaluateValue(i)"
        [ngModel]="field[1]"
        (ngModelChange)="onFieldValueChange($event, field)"
      />
    </div>

    <button
      class="close delete-field-button"
      (click)="deleteField(i)"
      [title]="'ui.enumEditor.deleteField' | translate"
    >
      <ng-container *ngTemplateOutlet="deleteIcon"></ng-container>
    </button>
  </div>
</div>

<div class="alert alert-danger mt-3" *ngIf="errorMessages.length && isDirty">
  <div *ngFor="let message of errorMessages">
    {{ message }}
  </div>
</div>

<ng-template #deleteIcon>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-trash"
    viewBox="0 0 16 16"
  >
    <path
      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
    />
    <path
      fill-rule="evenodd"
      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
    />
  </svg>
</ng-template>
