@import "variables";

textarea.monospaced {
  font-size: 12px;
  white-space: pre;
  background: transparent;
}

button + button {
  margin-left: 8px;
}

.active {
  background-color: white;
  color: black;
  width: 100%;
}

.lines {
  border: 1px dotted;
  overflow: auto;
  max-height: 200px;
  padding: 4px;
}

.line {
  font-size: 12px;
  white-space: pre;
  min-height: 1rem;

  &:not(.active) {
    color: $color-success;
  }
}

