@import "variables";

code {
  display: block;
}
code + code {
  margin-top: 2rem;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding-right: 16px;
}

.full-description {
  ::ng-deep {
    img {
      max-width: 100%;
      width: 100%;
    }
    th,
    td {
      padding: 0 4px;
    }
  }
}
