<div class="row mb-2" *ngIf="supportInfo">
  <div class="col-12 d-flex justify-content-end">
    <scl-command-games
      [supportInfo]="supportInfo"
      [command]="command"
      [extension]="extension"
    ></scl-command-games>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 d-flex flex-row">
    <h5 class="mr-2">{{ command.id }}</h5>
    <h5 class="text-break">{{ command.name }}</h5>
  </div>
</div>

<hr />

<div class="row mb-2">
  <div class="col-12">
    <div
      *ngIf="
        !command.attrs?.is_unsupported &&
        !command.attrs?.is_nop &&
        command.short_desc
      "
      class="mb-3"
      (click)="interceptDescriptionClick($event)"
      [innerHTML]="
        command.short_desc | linkify: game:extension:command | sanitize
      "
    ></div>
    <div *ngIf="command.attrs?.is_unsupported" class="mb-3">
      {{ "ui.commandList.unsupported" | translate }}
    </div>
    <div *ngIf="command.attrs?.is_nop" class="mb-3">
      {{ "ui.commandList.nop" | translate }}
    </div>

    <ng-container *ngIf="command.attrs?.is_keyword">
      <code
        >{{ command.name | lowercase }}
        <span [innerHTML]="command | keywordParams | sanitize"></span
      ></code>
    </ng-container>

    <ng-container *ngIf="command.class && command.member">
      <ng-container *ngIf="command.attrs?.is_constructor">
        <code>
          <span [innerHTML]="command | outputParams | sanitize"></span> =
          <a
            class="identifier"
            [routerLink]="['/', game, 'classes', command.class]"
            >{{ command.class }}</a
          >.<span class="identifier">{{ command.member }}</span
          ><span [innerHTML]="command | inputParams | sanitize"></span
        ></code>
      </ng-container>

      <ng-container *ngIf="!command.attrs?.is_constructor">
        <code
          ><a
            class="identifier"
            [routerLink]="['/', game, 'classes', command.class]"
            >{{ command.class }}</a
          >.<span class="identifier">{{ command.member }}</span
          ><span [innerHTML]="command | classParams | sanitize"></span
        ></code>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="displayOpcodePresentation">
      <code
        >{{ command.id | opcode }}: {{ command.name | lowercase }}
        <span [innerHTML]="command | opcodeParams | sanitize"></span
      ></code>
    </ng-container>

    <div *ngIf="command.input?.length > 0" class="mt-3">
      <h5>{{ "ui.commandEditor.paramsSubtitle" | translate }}</h5>

      <ng-container
        *ngTemplateOutlet="paramTemplate; context: { $implicit: command.input }"
      ></ng-container>
    </div>

    <div *ngIf="command.output?.length > 0" class="mt-3">
      <h5>{{ "ui.commandEditor.resultSubtitle" | translate }}</h5>

      <ng-container
        *ngTemplateOutlet="
          paramTemplate;
          context: { $implicit: command.output }
        "
      ></ng-container>
    </div>
  </div>
</div>

<ng-container
  *ngIf="
    attrs.length ||
    extension !== DEFAULT_EXTENSION ||
    command?.input[0]?.name === 'self'
  "
>
  <hr />
  <div class="row mb-2">
    <div class="col-12">
      <h5>{{ "ui.commandOverview.notesSubtitle" | translate }}</h5>
      <ul class="list-unstyled">
        <li
          *ngIf="extension !== DEFAULT_EXTENSION"
          [innerHTML]="
            'ui.commandOverview.withExtension'
              | translate: { extension: extension }
          "
        ></li>
        <li *ngIf="command?.input[0]?.name === 'self'">
          <code class="d-inline"
            ><span class="identifier">self</span>: {{ command.class }}</code
          >
          must be
          <a
            [routerLink]="['/', game]"
            [queryParams]="{ q: 'constructor:' + command.class }"
            >created</a
          >
          before using this command.
        </li>
        <li *ngFor="let attr of attrs">
          {{ "ui.attributes." + attr | translate }}.
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="relatedCommands?.length">
  <hr />
  <div class="row mb-2">
    <div class="col-12">
      <h5>{{ "ui.commandOverview.seeAlsoSubtitle" | translate }}</h5>
      <ul class="list-unstyled">
        <li *ngFor="let relatedCommand of relatedCommands">
          <a [routerLink]="['/', game, extension, relatedCommand.id]">{{
            relatedCommand.name
          }}</a>
          &ndash; {{ relatedCommand.short_desc }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="snippet">
  <hr />
  <h5>{{ "ui.commandEditor.codeSnippetSubtitle" | translate }}</h5>
  <pre
    class="sample"
    [innerHTML]="snippet | parametrify: command | sanitize"
  ></pre>
</ng-container>

<ng-template #paramTemplate let-params>
  <ng-container *ngFor="let param of params; let i = index">
    <div class="row">
      <div class="col-2 col-sm-1 text-center">{{ i + 1 }}</div>
      <div class="col-10 col-sm-11">
        <span
          *ngIf="isPrimitiveType(param); else nonPrimitive"
          [innerHTML]="param | singleParam | sanitize"
        ></span>
      </div>
    </div>
    <ng-template #nonPrimitive>
      <span class="param-name">{{ param.name }}</span
      >:
      <a
        [routerLink]="[
          '/',
          game,
          isEnumParam(param) ? 'enums' : 'classes',
          param.type
        ]"
        >{{ param.type }}</a
      >
    </ng-template>
  </ng-container>
</ng-template>
