<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end">
    <scl-command-games
      [supportInfo]="supportInfo"
      [command]="command"
      [game]="game"
    ></scl-command-games>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 d-flex flex-row">
    <h5 class="mr-3" *ngIf="command.id">{{ command.id }}</h5>
    <h5 class="text-break" [attr.translate]="'no'">{{ command.name }}</h5>
    <h5
      class="ml-3"
      *ngIf="viewContext === ViewContext.Code"
      [attr.translate]="'no'"
    >
      {{ command | nativeName }}
    </h5>
  </div>
</div>

<hr />

<div class="scroll-container">
  <div class="row mb-2">
    <div class="col-12">
      <scl-command-declaration
        [command]="command"
        [classDesc]="classDesc"
        [gameExtensions]="gameExtensions"
        [viewContext]="viewContext"
        [game]="game"
        [syntaxKind]="defaultSyntaxKind"
        (switchSyntaxKind)="onSwitchSyntaxKind($event)"
        [withToggle]="
          viewContext === ViewContext.Script && doesGameRequireOpcode(game)
        "
        [withCopyButton]="true"
        [simpleTypes]="true"
      ></scl-command-declaration>

      <div *ngIf="command.input?.length > 0" class="mt-3">
        <h5>{{ "ui.commandEditor.paramsSubtitle" | translate }}</h5>

        <ng-container
          *ngTemplateOutlet="
            paramTemplate;
            context: { $implicit: command.input }
          "
        ></ng-container>
      </div>

      <div *ngIf="command.output?.length > 0" class="mt-3">
        <h5>{{ "ui.commandEditor.resultSubtitle" | translate }}</h5>

        <ng-container
          *ngTemplateOutlet="
            paramTemplate;
            context: { $implicit: command.output }
          "
        ></ng-container>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="
      !command.attrs?.is_unsupported &&
      !command.attrs?.is_nop &&
      fullDescription
    "
  >
    <hr />
    <div class="row mb-2">
      <div class="col-12">
        <h5>{{ "ui.commandOverview.descriptionSubtitle" | translate }}</h5>
        <div
          [innerHTML]="
            fullDescription
              | markdown
              | linkify : game : gameExtensions : viewContext
              | linkifyClasses : game : classNames : viewContext
              | sanitize
          "
        ></div>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      attrs.length ||
      extension !== getDefaultExtension() ||
      command?.input[0]?.name === 'self'
    "
  >
    <hr />
    <div class="row mb-2">
      <div class="col-12">
        <h5>{{ "ui.commandOverview.notesSubtitle" | translate }}</h5>
        <ul class="list-unstyled">
          <li
            *ngIf="extension !== getDefaultExtension()"
            [innerHTML]="
              'ui.commandOverview.withExtension'
                | translate : { extension: extension, game: game }
            "
          ></li>
          <li
            *ngIf="customPlatforms.length === 1"
            [innerHTML]="
              'ui.commandOverview.customPlatform'
                | translate : { platform: customPlatforms[0] }
            "
          ></li>
          <li
            *ngIf="customPlatforms.length === 2"
            [innerHTML]="
              'ui.commandOverview.customPlatforms'
                | translate
                  : {
                      platform1: customPlatforms[0],
                      platform2: customPlatforms[1]
                    }
            "
          ></li>
          <li
            *ngIf="customVersions.length === 1"
            [innerHTML]="
              'ui.commandOverview.customVersion'
                | translate : { version: customVersions[0] }
            "
          ></li>
          <li
            *ngIf="customVersions.length > 1"
            [innerHTML]="
              'ui.commandOverview.customVersions'
                | translate : { versions: customVersions.join(', ') }
            "
          ></li>
          <li *ngIf="command?.input[0]?.name === 'self'">
            <code class="d-inline"
              ><span class="identifier">self</span>: {{ command.class }}</code
            >
            must
            <a
              [routerLink]="['/', game]"
              [queryParams]="{ q: 'constructor:' + command.class }"
              >exist</a
            >
            prior to using this command.
          </li>
          <li *ngFor="let attr of attrs">
            {{ "ui.attributes." + attr | translate }}.
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="relatedCommands?.length">
    <hr />
    <div class="row mb-2">
      <div class="col-12">
        <h5>{{ "ui.commandOverview.seeAlsoSubtitle" | translate }}</h5>
        <ul class="list-unstyled">
          <li *ngFor="let relatedCommand of relatedCommands">
            <a
              [routerLink]="[
                '../..',
                extension,
                relatedCommand.id || relatedCommand.name
              ]"
              [queryParams]="getQueryParamsForCommand(relatedCommand, game)"
              >{{ relatedCommand.name }}</a
            >
            &ndash;
            {{
              relatedCommand.short_desc
                ? relatedCommand.short_desc
                : ("ui.shared.noDescription" | translate)
            }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="snippet">
    <hr />

    <div class="d-flex justify-content-between align-items-center">
      <h5>{{ "ui.commandEditor.codeSnippetSubtitle" | translate }}</h5>
      <div class="d-flex mb-2">
        <scl-icon-button
          class="mr-1"
          *ngIf="
            doesGameRequireOpcode(game) && viewContext === ViewContext.Script
          "
          [icon]="displayOpcodePresentation ? 'eye-fill' : 'eye'"
          [title]="'ui.shared.toggleOpcode' | translate"
          (clicked)="onToggleOpcodePresentation()"
        >
        </scl-icon-button>

        <scl-copy-button
          [text]="codeSnippet.innerText"
          icon="copy"
          #clipboardBtn
          [title]="
            (clipboardBtn.hasJustCopied
              ? 'ui.shared.copied'
              : 'ui.shared.copyToClipboard'
            ) | translate
          "
        ></scl-copy-button>
      </div>
    </div>
    <div class="position-relative">
      <pre
        class="sample"
        #codeSnippet
        [innerHTML]="
          snippet
            | snippetify
            | codify
              : command
              : game
              : displayOpcodePresentation
              : gameExtensions
            | sanitize
        "
      ></pre>
    </div>
  </ng-container>
</div>
<ng-template #paramTemplate let-params>
  <ng-container *ngFor="let param of params; let i = index">
    <div class="row">
      <div class="col-2 col-sm-1 text-center">{{ i + 1 }}</div>
      <div class="col-10 col-sm-11" [attr.translate]="'no'">
        <span
          *ngIf="isPrimitiveType(param); else nonPrimitive"
          [innerHTML]="param | singleParam | sanitize"
        ></span>
      </div>
    </div>
    <ng-template #nonPrimitive>
      <span>
        {{ stringifySource(param) }}
      </span>
      <span class="param-name">{{ param.name }}</span
      >:
      <a
        *ngIf="isEnumParam(param) || isClassParam(param); else plainType"
        [routerLink]="[
          baseHref,
          isEnumParam(param) ? 'enums' : 'classes',
          param.type
        ]"
        >{{ param.type }}</a
      >
    </ng-template>

    <ng-template #plainType>{{ param.type }}</ng-template>
  </ng-container>
</ng-template>
