div.main_article {
  width: 100%;
  max-width: 100%;
}

.card-wrapper {
  border: 1px #cccccc solid;
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  text-align: center;
}

.card-wrapper h2 {
  margin-top: 0;
}