<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1>Welcome to Sanny Commands Library.</h1>
    <p class="lead">
      <strong>Sanny Commands Library</strong> (SCL) is an attempt to build a
      complete and consistent class system and commands documentation spanning
      GTA 3D series games. Heavily based on original naming conventions.
    </p>
    <p class="lead">
      Explore early preview documentation for <a href="/gta3">GTA III</a> and
      <a href="/vc">Vice City</a>.
    </p>

    <p class="lead">
      Huge thanks to all researchers and contributors to the GTA modding
      documentation available on the following websites:
    </p>
    <ul class="list-unstyled">
      <li>
        <a href="https://www.gtagmodding.com/opcode-database"
          >https://www.gtagmodding.com/opcode-database</a
        >
      </li>
      <li>
        <a href="https://gtamods.com/wiki/List_of_opcodes"
          >https://gtamods.com/wiki/List_of_opcodes</a
        >
      </li>
      <li>
        <a href="https://github.com/GTAmodding"
          >https://github.com/GTAmodding</a
        >
      </li>
    </ul>
  </main>
</div>
