<h5>Edit Enum</h5>

<div class="row mb-2 pr-5">
  <div class="col-8 col-lg-6">
    <div class="input-group">
      <span class="input-group-text">Name</span>
      <input type="text" [(ngModel)]="enumToEdit.name" class="form-control" />
    </div>
  </div>

  <div class="col-4 col-lg-6">
    <div class="input-group justify-content-end">
      <button class="btn btn-outline-secondary" (click)="addNewField()">
        Add field
      </button>
    </div>
  </div>
</div>

<div
  cdkDropList
  [cdkDropListData]="enumToEdit.fields"
  [ngClass]="{ 'empty-list': !enumToEdit.fields.length }"
  (cdkDropListDropped)="drop($event)"
>
  <h5>Fields</h5>
  <div
    class="row mb-2 pr-5 field-container"
    *ngFor="let field of enumToEdit.fields; let i = index"
    cdkDrag
    cdkDragBoundary="scl-enum-editor"
  >
    <div class="col-12 col-md-6">
      <div class="input-group">
        <span class="input-group-text" cdkDragHandle>{{ i + 1 }}</span>
        <input type="text" class="form-control" [(ngModel)]="field[0]" />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <input type="text" class="form-control" [(ngModel)]="field[1]" />
    </div>

    <button
      class="close delete-field-button"
      (click)="deleteField(i)"
      title="Delete field"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-trash"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
        />
        <path
          fill-rule="evenodd"
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
        />
      </svg>
    </button>
  </div>
</div>
