<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end">
    <a *ngFor="let game of games" [routerLink]="['/', game, 'classes']">
      <scl-icon [game]="game" size="16"></scl-icon>
    </a>
  </div>
</div>

<h5>{{ "ui.classList.title" | translate }}</h5>

<div class="scroll-container">
  <pre *ngIf="entities" class="sample">
<div *ngFor="let entity of entities"><a 
  [routerLink]="['/', game, 'classes', entity.name]"
  >{{ entity.name }}</a><span class="comment" *ngIf="getClassDesc(entity.name) as desc"> // {{ desc }}</span><span class="identifier" 
  *ngIf="entity.origin !== DEFAULT_EXTENSION"> // {{
    "ui.classOverview.onlyWithExtensionInline"
      | translate: { extension: entity.origin }
  }}</span></div></pre>
</div>
