<h5>{{ "ui.scm.refList" | translate }}</h5>

<div class="row mb-2">
  <div class="col-12">
    <div class="input-group">
      <input
        type="text"
        class="form-control filter-input"
        [placeholder]="'ui.scm.filterRefs' | translate"
        [(ngModel)]="filterQuery"
      />
      <div class="input-group-append">
        <scl-icon-button
          icon="clear"
          [title]="'ui.header.searchClear' | translate"
          (clicked)="filterQuery = ''"
        ></scl-icon-button>
      </div>
    </div>
  </div>
</div>

<div class="scroll-container">
  <pre
    class="sample"
    *ngIf="filteredEntries.length; else emptyState"
  ><ng-container *ngFor="let item of filteredEntries"><span>{{ toRawRefKey(item.key) }}=<a  *ngIf="getScmTargetPath(item.key) as route else justName" [routerLink]="route.route" [fragment]="route.fragment">{{ item.value }}</a><ng-template #justName>{{ item.value }}</ng-template></span><span class="secondary" *ngIf="isOrphanRef(item.key)"> ({{ "ui.enumList.unused" | translate }})</span>
</ng-container></pre>
</div>

<ng-template #emptyState>
  <div class="text-muted">{{ "ui.scm.emptyRefList" | translate }}</div>
</ng-template>
