.page-item.active .page-link {
  color: #baf042;
  border-color: #495057;
}

:host-context(.scroll-down) {
  position: sticky;
  bottom: 30px;
  z-index: 1031;
  display: block;
}

// display above submit banner
:host-context(.has-unsubmitted-changes) {
  bottom: 79px;
}
