<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage < 2 || currentPage === 'all' }"
    >
      <a
        class="page-link"
        routerLink="./"
        [queryParams]="{ p: +currentPage - 1 }"
        >&lt;</a
      >
    </li>

    <ng-container
      *ngIf="total <= 7; then allPages; else compact"
    ></ng-container>

    <li
      class="page-item"
      [ngClass]="{
        disabled: currentPage >= total || currentPage === 'all'
      }"
    >
      <a
        class="page-link"
        routerLink="./"
        [queryParams]="{ p: +currentPage + 1 }"
        >&gt;</a
      >
    </li>

    <li
      class="page-item"
      *ngIf="total > 1"
      [ngClass]="{ disabled: total <= 1, active: currentPage === 'all' }"
    >
      <a
        class="page-link"
        [ngClass]="{
          'bg-dark': currentPage === 'all'
        }"
        routerLink="./"
        [queryParams]="{ p: 'all' }"
        >All</a
      >
    </li>
  </ul>
</nav>

<ng-template #allPages>
  <ng-container
    *ngFor="let page of pages"
    [ngTemplateOutlet]="pageItem"
    [ngTemplateOutletContext]="{ $implicit: page }"
  ></ng-container>
</ng-template>

<ng-template #compact>
  <ng-container *ngIf="currentPage <= 4 || currentPage === 'all'">
    <!-- [1] 2 3 4 5 .. 100 -->
    <ng-container
      *ngFor="let page of pages | slice: 0:5"
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: page }"
    ></ng-container>

    <ng-container [ngTemplateOutlet]="dummy"></ng-container>

    <ng-container
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: total }"
    ></ng-container>
  </ng-container>

  <ng-container *ngIf="currentPage > total - 4">
    <!-- 1 .. 96 [97] 98 99 100 -->
    <ng-container
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: 1 }"
    ></ng-container>

    <ng-container [ngTemplateOutlet]="dummy"></ng-container>

    <ng-container
      *ngFor="let page of pages | slice: -5"
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: page }"
    ></ng-container>
  </ng-container>

  <ng-container *ngIf="currentPage > 4 && currentPage <= total - 4">
    <!-- 1 .. 4 [5] 6 .. 100 -->
    <ng-container
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: 1 }"
    ></ng-container>
    <ng-container [ngTemplateOutlet]="dummy"></ng-container>

    <ng-container
      *ngFor="let page of pages | slice: currentPage - 2:currentPage + 1"
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: page }"
    ></ng-container>

    <ng-container [ngTemplateOutlet]="dummy"></ng-container>
    <ng-container
      [ngTemplateOutlet]="pageItem"
      [ngTemplateOutletContext]="{ $implicit: total }"
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #pageItem let-page>
  <li
    *ngIf="total >= page"
    class="page-item"
    [ngClass]="{ active: currentPage === page }"
  >
    <a
      class="page-link"
      [ngClass]="{
        'bg-dark': currentPage === page
      }"
      routerLink="./"
      [queryParams]="{ p: page }"
      >{{ page }}</a
    >
  </li>
</ng-template>

<ng-template #dummy>
  <li class="page-item disabled">
    <span class="page-link">..</span>
  </li>
</ng-template>
