<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage < 2 || currentPage === 'all' }"
    >
      <a class="page-link" href="#" (click)="selectPage(+currentPage - 1)"
        >Previous</a
      >
    </li>
    <li
      class="page-item"
      *ngFor="let page of pages"
      [ngClass]="{
        active: currentPage === page
      }"
    >
      <a
        class="page-link"
        [ngClass]="{
          'bg-dark': currentPage === page
        }"
        href="#"
        (click)="selectPage(page)"
        >{{ page }}</a
      >
    </li>
    <li
      class="page-item"
      [ngClass]="{
        disabled: currentPage >= pages.length || currentPage === 'all'
      }"
    >
      <a class="page-link" href="#" (click)="selectPage(+currentPage + 1)"
        >Next</a
      >
    </li>

    <li
      class="page-item"
      *ngIf="pages.length > 1"
      [ngClass]="{ disabled: pages.length <= 1, active: currentPage === 'all' }"
    >
      <a
        class="page-link"
        [ngClass]="{
          'bg-dark': currentPage === 'all'
        }"
        href="#"
        (click)="selectPage('all')"
        >All</a
      >
    </li>
  </ul>
</nav>
