<h5>{{ "ui.classOverview.title" | translate }}</h5>

<p class="text-right">
  <a href="#" (click)="toggleInlineDesc()">{{
    "ui.classOverview.toggleInlineDescription" | translate
  }}</a>
</p>

<pre *ngIf="classCommands" class="sample">
class {{ className }} <span *ngIf="isThisClassFromOtherExtension" class="comment">// {{ "ui.classOverview.onlyWithExtension" | translate: { extension:classCommands[0].extension } }}</span>
<ng-container *ngFor="let classCommand of classCommands; let isLast=last"><ng-container 
    *ngTemplateOutlet="memberTemplate; 
    context: { 
      command: classCommand.command, 
      extension: classCommand.extension, 
      displayInlineDescription: displayInlineDescription$ | async,
      isLast: isLast
    }"
  ></ng-container>
</ng-container>end
</pre>

<ng-template
  #memberTemplate
  let-command="command"
  let-extension="extension"
  let-displayInlineDescription="displayInlineDescription"
  let-isLast="isLast"
>
  <span class="comment" *ngIf="command.short_desc && displayInlineDescription">
    &nbsp;//
    <span
      (click)="interceptDescriptionClick($event)"
      [innerHTML]="command.short_desc | linkify: game:extension | sanitize"
    ></span>
    <br />
  </span>
  &nbsp;<code *ngIf="command.class && command.member">
    <ng-container *ngIf="command.attrs?.is_constructor"
      >constructor
      <a [routerLink]="['/', game, extension, command.id]">{{
        command.member
      }}</a
      ><span [innerHTML]="command | inputParams | sanitize"></span>:
      {{ command.output[command.output.length - 1].type }}
    </ng-container>
    <ng-container *ngIf="command.attrs?.is_destructor"
      >destructor
      <a [routerLink]="['/', game, extension, command.id]">{{
        command.member
      }}</a
      ><span [innerHTML]="command | inputParams | sanitize"></span>
    </ng-container>

    <ng-container
      *ngIf="!command.attrs?.is_constructor && !command.attrs?.is_destructor"
    >
      <ng-container *ngIf="command.attrs?.is_static">static </ng-container
      ><a
        [routerLink]="['/', game, extension, command.id]"
        [ngClass]="{
          strike: command.attrs?.is_nop || command.attrs?.is_unsupported
        }"
        >{{ command.member }}</a
      ><span [innerHTML]="command | classParams | sanitize"></span
    ></ng-container> </code
  ><span
    *ngIf="extension !== 'default' && !isThisClassFromOtherExtension"
    class="comment"
  >
    //
    {{
      "ui.classOverview.onlyWithExtensionInline"
        | translate: { extension: extension }
    }}
  </span>
  <br *ngIf="displayInlineDescription && !isLast" />
</ng-template>
