.strike {
  text-decoration: line-through !important;
}

.comment {
  color: white;
}

.filter-methods-input {
  max-width: 400px;
}

.scroll-container {
  overflow: auto;
  max-height: calc(100% - 153px);
  padding-right: 16px;
  height: 100%;
}
