<h5>{{ "ui.classOverview.title" | translate }}</h5>

<hr />

<div class="row mb-2">
  <div class="col-12">
    <div class="input-group">
      <input
        type="text"
        class="form-control filter-methods-input"
        [placeholder]="'ui.classOverview.filterMethods' | translate"
        [(ngModel)]="filterQuery"
      />
      <div class="input-group-append">
        <scl-icon-button
          icon="clear"
          [title]="'ui.header.searchClear' | translate"
          (clicked)="filterQuery = ''"
        ></scl-icon-button>
      </div>
    </div>
  </div>
</div>

<div class="scroll-container">
  <pre
    *ngIf="classCommands"
    class="sample"
  ><span class="comment" *ngIf="meta?.desc as classDesc">// {{ classDesc }}
</span>class <span class="identifier">{{ className }}</span><span *ngIf="meta?.extends as extends"> extends <a [routerLink]="['/', game, 'classes', extends]" class="identifier">{{ extends }}</a></span> <span 
*ngIf="classOrigin !== DEFAULT_EXTENSION && commandsHaveSameOrigin" class="comment">// <span [innerHTML]="'ui.classOverview.onlyWithExtension' | translate: { extension: classOrigin, game: game }"></span></span>
<ng-container *ngFor="let classCommand of classCommands | filterMethods: filterQuery; let isLast=last"><ng-container 
    *ngTemplateOutlet="memberTemplate; 
    context: { 
      command: classCommand.command, 
      extension: classCommand.extension, 
      isLast: isLast
    }"
  ></ng-container>
</ng-container>end
<ng-container *ngFor="let c of externalConstructors | keyvalue; let isFirst=first">
<ng-container *ngIf="isFirst"><span class="comment">// {{ "ui.classOverview.relatedClasses" | translate }}
</span></ng-container>
class <span class="identifier">{{ c.key }}</span> 
<ng-container *ngFor="let classCommand of c.value | filterMethods: filterQuery; let isLast=last"><ng-container 
    *ngTemplateOutlet="memberTemplate; 
    context: { 
      command: classCommand.command, 
      extension: classCommand.extension, 
      isLast: isLast
    }"
  ></ng-container>
</ng-container>end</ng-container></pre>
</div>

<ng-template
  #memberTemplate
  let-command="command"
  let-extension="extension"
  let-isLast="isLast"
>
  <span class="comment" *ngIf="command.short_desc && displayInlineDescription">
    &nbsp;//
    <span
      (click)="interceptDescriptionClick($event)"
      [innerHTML]="command | linkify : game : gameExtensions | sanitize"
    ></span>
    <br />
  </span>
  &nbsp;<code *ngIf="command.class && command.member">
    <ng-container *ngIf="command.attrs?.is_constructor"
      >constructor
    </ng-container>
    <ng-container *ngIf="command.attrs?.is_destructor"
      >destructor
    </ng-container>
    <ng-container
      *ngIf="
        !command.attrs?.is_constructor &&
        !command.attrs?.is_destructor &&
        command.attrs?.is_static
      "
      >static </ng-container
    ><a
      class="identifier"
      [routerLink]="['/', game, extension, command.id || command.name]"
      [queryParams]="getQueryParamsForCommand(command, game)"
      [ngClass]="{ strike: !isSupported(command) }"
      [title]="command.short_desc || 'ui.shared.noDescription' | translate"
      >{{ command.member }}</a
    ><span [innerHTML]="command | classParams | sanitize"></span> </code
  ><span
    *ngIf="
      extension !== DEFAULT_EXTENSION &&
      (classOrigin === DEFAULT_EXTENSION || !commandsHaveSameOrigin)
    "
    class="comment"
  >
    //
    <span
      [innerHTML]="
        'ui.classOverview.onlyWithExtensionInline'
          | translate : { extension: extension, game: game }
      "
    ></span>
  </span>
  <br *ngIf="displayInlineDescription && !isLast" />
</ng-template>
