<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end">
    <scl-enum-games
      [enumName]="enumToView.name"
      [games]="enumGames"
    ></scl-enum-games>
  </div>
</div>

<h5>{{ "ui.enumOverview.title" | translate }}</h5>

<div class="row mb-2">
  <div class="col-12">
    <div class="input-group">
      <input
        type="text"
        class="form-control filter-input"
        [placeholder]="'ui.enumOverview.filter' | translate"
        [(ngModel)]="filterQuery"
      />
      <div class="input-group-append">
        <scl-icon-button
          icon="clear"
          [title]="'ui.header.searchClear' | translate"
          (clicked)="filterQuery = ''"
        ></scl-icon-button>
      </div>
    </div>
  </div>
</div>

<div class="scroll-container">
  <pre *ngIf="enumFields.length" class="sample">
enum <span class="identifier">{{ enumToView.name }}</span> 
<ng-container *ngFor="let field of enumFields | filterEnums: filterQuery;"><ng-container *ngTemplateOutlet="fieldTemplate; context: { field: field }"></ng-container></ng-container>end
</pre>
</div>
<ng-template #fieldTemplate let-field="field">
  <div>
    &nbsp; <span class="identifier">{{ field[0] }}</span
    ><span [ngClass]="{ secondary: field[2] }">
      =
      {{ field[1] }}</span
    >
  </div>
</ng-template>
