:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding-right: 16px;
}

:host-context(.modal) {
  max-height: calc(100vh - 198px);
}

.filter-input {
  max-width: 400px;
}
