<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end">
    <scl-enum-games
      [enumName]="enumToView.name"
      [games]="enumGames"
    ></scl-enum-games>
  </div>
</div>

<h5>{{ "ui.enumOverview.title" | translate }}</h5>

<pre *ngIf="enumToView?.fields" class="sample">
enum <span class="identifier">{{ enumToView.name }}</span> 
<ng-container *ngFor="let field of enumToView.fields"><ng-container *ngTemplateOutlet="fieldTemplate; context: { field: field }"></ng-container></ng-container>end
</pre>

<ng-template #fieldTemplate let-field="field">
  &nbsp; <span class="identifier">{{ field[0] }}</span
  >{{
    field[1] !== null
      ? " = " + (isStringEnum ? '"' : "") + field[1] + (isStringEnum ? '"' : "")
      : ""
  }}
</ng-template>
