.scroll-container {
  overflow: auto;
  max-height: calc(100% - 159px);
  padding-right: 16px;
  height: 100%;
}

:host-context(.modal) .scroll-container {
  max-height: calc(100vh - 198px);
}

.filter-input {
  max-width: 400px;
}
