<ng-container *ngIf="rows$ | async as rows; else loading">
  <ng-container *ngIf="currentPage$ | async as currentPage">
    <div
      class="row mb-3"
      *ngFor="
        let row of rows
          | slice
            : (currentPage === 'all' ? 0 : (currentPage - 1) * 100)
            : (currentPage === 'all' ? rows.length : currentPage * 100)
      "
    >
      <div class="col-12">
        <div class="card">
          <div class="card-body pt-3">
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <scl-command-games
                  class="mr-2"
                  *ngIf="
                    getCommandSupportInfo(row.command, row.extension) | async;
                    let supportInfo
                  "
                  [supportInfo]="supportInfo"
                  [command]="row.command"
                  [game]="game"
                ></scl-command-games>

                <a
                  *ngIf="canEdit"
                  class="btn small text-muted"
                  [routerLink]="[
                    baseHref,
                    row.extension,
                    row.command.id || row.command.name,
                    'edit'
                  ]"
                  [queryParams]="getQueryParamsForCommand(row.command, game)"
                  >{{ "ui.shared.edit" | translate }}</a
                >

                <a
                  style="margin-right: -0.75rem"
                  class="btn small text-muted"
                  [routerLink]="[
                    baseHref,
                    row.extension,
                    row.command.id || row.command.name
                  ]"
                  [queryParams]="getQueryParamsForCommand(row.command, game)"
                  [name]="row.command.id || row.command.name"
                  >{{ "ui.shared.view" | translate }}</a
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 d-flex flex-row">
                <ng-container
                  *ngIf="row.command.id !== undefined; else nameAsLink"
                >
                  <a
                    class="mr-3"
                    [routerLink]="[baseHref, row.extension, row.command.id]"
                    [queryParams]="getQueryParamsForCommand(row.command, game)"
                    [name]="row.command.id"
                    [innerHTML]="row.command | propExtract : 'id' | sanitize"
                  ></a>
                  <div
                    class="text-break"
                    [innerHTML]="row.command | propExtract : 'name' | sanitize"
                    [attr.translate]="'no'"
                  ></div>
                </ng-container>

                <ng-template #nameAsLink>
                  <a
                    class="text-break"
                    [routerLink]="[baseHref, row.extension, row.command.name]"
                    [queryParams]="getQueryParamsForCommand(row.command, game)"
                    [name]="row.command.name"
                    [innerHTML]="row.command | propExtract : 'name' | sanitize"
                    [attr.translate]="'no'"
                  ></a>
                </ng-template>

                <ng-container *ngIf="viewContext === ViewContext.Code">
                  <div
                    class="ml-3 text-break"
                    [innerHTML]="row.command | nativeName | sanitize"
                    [attr.translate]="'no'"
                  ></div>
                </ng-container>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <scl-command-declaration
                  [game]="game"
                  [command]="row.command"
                  [gameExtensions]="gameExtensions"
                  [viewContext]="viewContext"
                  [withToggle]="false"
                  [syntaxKind]="defaultSyntaxKind"
                  [withCopyButton]="false"
                  [simpleTypes]="false"
                ></scl-command-declaration>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 text-right">
                <ng-container *ngIf="row.extension !== getDefaultExtension()">
                  <a
                    class="badge-spacing"
                    [routerLink]="[baseHref, row.extension]"
                  >
                    <code class="platform-badge gold">
                      {{ row.extension }}
                    </code>
                  </a>
                </ng-container>

                <ng-container *ngFor="let p of row.command.versions">
                  <ng-container *ngIf="p !== 'any'">
                    <code class="platform-badge badge-spacing"> V{{ p }} </code>
                  </ng-container>
                </ng-container>

                <ng-container *ngFor="let p of row.command.platforms">
                  <ng-container *ngIf="p !== 'any'">
                    <code class="platform-badge badge-spacing">
                      {{ p }}
                    </code>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="rowsCount$ | async as rowsCount; else noResults">
      <scl-pagination
        *ngIf="rowsCount > 100"
        [total]="rowsCount"
        [currentPage]="currentPage"
        (pageChange)="goToPage($event)"
      ></scl-pagination>
    </ng-container>
    <ng-template #noResults>
      <ng-container *ngIf="(rowsCount$ | async) === 0">
        <p>
          {{ "ui.commandList.emptyResult" | translate }}.
          <a href="#" (click)="resetFilters()">{{
            "ui.commandList.emptyResultReset" | translate
          }}</a
          >.
        </p>
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div
    class="spinner-border spinner-color"
    role="status"
    *ngIf="loading$ | async"
  ></div>

  <div *ngIf="loadingError$ | async" class="error">
    {{ "ui.commandList.errorLoading" | translate }}
  </div>
</ng-template>
