@import 'variables';

code {
  display: block;
  padding: 1rem 0 0;
}

:host {
  display: block;
  padding-bottom: 33px;
  position: relative;
}

.platform-badge {
  float: right;
  border: 1px solid;
  padding: 2px 6px;
  font-size: 66%;
  border-radius: 0.25rem;

  &.gold {
    border-color: $yellow;
    color: $yellow;
  }
}

.badge-spacing + .badge-spacing {
  margin-right: 4px;
}