<ng-container *ngIf="rows$ | async as rows; else loading">
  <ng-container *ngIf="currentPage$ | async as currentPage">
    <div
      class="row mb-3"
      *ngFor="
        let row of rows
          | slice
            : (currentPage === 'all' ? 0 : (currentPage - 1) * 100)
            : (currentPage === 'all'
                ? rows.length
                : (currentPage - 1) * 100 + 100)
      "
    >
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <scl-command-games
                  class="mr-2"
                  *ngIf="
                    getCommandSupportInfo(row.command, row.extension) | async;
                    let supportInfo
                  "
                  [supportInfo]="supportInfo"
                  [extension]="row.extension"
                  [command]="row.command"
                ></scl-command-games>

                <a
                  *ngIf="canEdit"
                  class="btn small text-muted"
                  [routerLink]="[
                    '/',
                    game,
                    row.extension,
                    row.command.id,
                    'edit'
                  ]"
                  [queryParams]="getQueryParamsForCommand(row.command, game)"
                  >{{ "ui.shared.edit" | translate }}</a
                >

                <a
                  style="margin-right: -0.75rem"
                  class="btn small text-muted"
                  [routerLink]="['/', game, row.extension, row.command.id]"
                  [queryParams]="getQueryParamsForCommand(row.command, game)"
                  [name]="row.command.id"
                  >{{ "ui.shared.view" | translate }}</a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-1 order-0 d-flex align-items-center">
                <a
                  [routerLink]="['/', game, row.extension, row.command.id]"
                  [queryParams]="getQueryParamsForCommand(row.command, game)"
                  [name]="row.command.id"
                  [innerHTML]="row.command | propExtract: 'id' | sanitize"
                ></a>
              </div>

              <div
                class="
                  col-12
                  order-2
                  d-flex
                  align-items-center
                  text-break
                  mt-3 mt-sm-0
                "
                [ngClass]="{
                  'col-sm-11': narrowed,
                  'col-sm-8': !narrowed,
                  'order-sm-2': narrowed,
                  'order-sm-1': !narrowed
                }"
                [innerHTML]="row.command | propExtract: 'name' | sanitize"
              ></div>
            </div>

            <div class="row">
              <div class="col-12">
                <ng-container
                  *ngIf="
                    !row.command.attrs?.is_unsupported &&
                    !row.command.attrs?.is_nop
                  "
                >
                  <div
                    class="my-2"
                    (click)="interceptDescriptionClick($event)"
                    [innerHTML]="
                      row.command
                        | propExtract: 'short_desc'
                        | linkify: game:row.extension:row.command
                        | sanitize
                    "
                  ></div>
                </ng-container>

                <ng-container *ngIf="row.command.attrs?.is_unsupported">{{
                  "ui.commandList.unsupported" | translate
                }}</ng-container>
                <ng-container *ngIf="row.command.attrs?.is_nop">{{
                  "ui.commandList.nop" | translate
                }}</ng-container>

                <ng-container *ngIf="row.command.attrs?.is_keyword">
                  <code
                    >{{ row.command.name | lowercase }}
                    <span
                      [innerHTML]="row.command | keywordParams | sanitize"
                    ></span
                  ></code>
                </ng-container>

                <ng-container *ngIf="row.command.class && row.command.member">
                  <ng-container *ngIf="row.command.attrs?.is_constructor">
                    <code>
                      <span
                        [innerHTML]="row.command | outputParams | sanitize"
                      ></span>
                      =
                      <a
                        class="identifier"
                        [routerLink]="['/', game, 'classes', row.command.class]"
                        ><span
                          [innerHTML]="
                            row.command | propExtract: 'class' | sanitize
                          "
                        ></span></a
                      >.<span
                        class="identifier"
                        [innerHTML]="
                          row.command | propExtract: 'member' | sanitize
                        "
                      ></span
                      ><span
                        [innerHTML]="row.command | inputParams | sanitize"
                      ></span
                    ></code>
                  </ng-container>

                  <ng-container *ngIf="!row.command.attrs?.is_constructor">
                    <code>
                      <a
                        class="identifier"
                        [routerLink]="['/', game, 'classes', row.command.class]"
                      >
                        <span
                          [innerHTML]="
                            row.command | propExtract: 'class' | sanitize
                          "
                        ></span></a
                      >.<span
                        class="identifier"
                        [innerHTML]="
                          row.command | propExtract: 'member' | sanitize
                        "
                      ></span
                      ><span
                        [innerHTML]="row.command | classParams | sanitize"
                      ></span
                    ></code>
                  </ng-container>
                </ng-container>

                <ng-container
                  *ngIf="
                    !row.command.attrs?.is_keyword &&
                    !(row.command.class && row.command.member) &&
                    !row.command.attrs?.is_unsupported &&
                    !row.command.attrs?.is_nop
                  "
                >
                  <ng-container
                    *ngIf="
                      getSnippet(row.extension, row.command.id)
                        | async as snippet
                    "
                  >
                    <pre class="sample">{{
                      snippet | parametrify: row.command
                    }}</pre>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-right">
                <code
                  *ngFor="let p of row.command.platforms"
                  class="platform-badge"
                >
                  {{ p }}
                </code>
                <code
                  *ngFor="let p of row.command.versions"
                  class="platform-badge"
                >
                  V{{ p }}
                </code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="rowsCount$ | async as rowsCount; else noResults">
      <scl-pagination
        *ngIf="rowsCount > 100"
        [total]="rowsCount"
        [currentPage]="currentPage"
        (pageChange)="goToPage($event)"
      ></scl-pagination>
    </ng-container>
    <ng-template #noResults>
      <ng-container *ngIf="(rowsCount$ | async) === 0">
        <p>
          {{ "ui.commandList.emptyResult" | translate }}.
          <a href="#" (click)="resetFilters()">{{
            "ui.commandList.emptyResultReset" | translate
          }}</a
          >.
        </p>
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div
    class="spinner-border spinner-color"
    role="status"
    *ngIf="loading$ | async"
  ></div>
</ng-template>
