<div id="wrapper">
  <div id="map-holder">
    <google-map
      [height]="'100%'"
      [width]="'100%'"
      [zoom]="1"
      [options]="mapOptions"
      (mapInitialized)="onMapReady($event)"
      (maptypeidChanged)="onMapTypeChanged()"
      (mapMousemove)="onMapMousemove($event)"
      (zoomChanged)="onMapZoomChanged()"
    >
      @for (m of gmMarkers; track m.id) {
      <map-advanced-marker
        #marker="mapAdvancedMarker"
        [position]="m.position"
        [content]="m.content"
        (mapClick)="openInfoWindow(marker, m.data)"
      />
      }; @for (p of gmPolylines; track p.id) {
      <map-polyline
        #path="mapPolyline"
        [path]="p.vertices"
        [options]="{
          strokeColor: p.strokeColor,
          strokeOpacity: p.strokeOpacity,
          strokeWeight: p.strokeWeight
        }"
        (polylineMouseover)="onPathMouseover(path, p)"
        (polylineMouseout)="onPathMouseout(path, p)"
      />
      }; @for (a of gmPolygons; track a.id) {
      <map-polygon
        #area="mapPolygon"
        [paths]="a.vertices"
        [options]="{
          strokeColor: a.strokeColor,
          strokeOpacity: a.strokeOpacity,
          strokeWeight: a.strokeWeight,
          fillColor: a.fillColor,
          fillOpacity: a.fillOpacity
        }"
        (polygonClick)="openInfoWindowAt($event.latLng, a.data)"
        (polygonMouseover)="onAreaMouseover(area, a)"
        (polygonMouseout)="onAreaMouseout(area, a)"
        (polygonMousemove)="onMapMousemove($event)"
      />
      }
      <map-info-window />
    </google-map>
    <ng-container *ngIf="map">
      <div id="map-tooltip">
        {{
          (isCtrlPressed && coordsTooltip) ||
            customTooltip ||
            "ui.map.holdCtrlForCoords" | translate
        }}
      </div>
      <div
        id="map-overlay-slide"
        [ngClass]="{ open: isSidebarOpen }"
        (click)="toggleSidebar()"
      ></div>
      <div id="map-overlay" [ngClass]="{ open: isSidebarOpen }">
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                class="nav-link border-left-0"
                routerLink="../locations"
                routerLinkActive="active"
                >{{ "ui.map.locations" | translate }}</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="../zones"
                routerLinkActive="active"
                >{{ "ui.map.zones" | translate }}</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="../paths"
                routerLinkActive="active"
                >{{ "ui.map.paths" | translate }}</a
              >
            </li>
          </ul>
        </div>
        <div class="scroll">
          <ng-container *ngIf="activeTab == 'switchroads'">
            <div class="p-3">
              <h6>Switch Roads Commands</h6>
              <textarea
                class="form-control monospaced"
                rows="5"
                placeholder="Enter SWITCH_ROAD commands here"
                [(ngModel)]="nodeSwitchesSrc"
              ></textarea>

              <div class="d-flex flex-row mt-2">
                <ng-container *ngFor="let algorithm of nodeSwitchAlgorithms">
                  <label class="mr-3">
                    <input
                      type="radio"
                      name="switchType"
                      [value]="algorithm"
                      [(ngModel)]="selectedNodeSwitchAlgorithm"
                    />

                    {{ algorithm }}
                  </label>
                </ng-container>
              </div>
              <button
                class="btn btn-outline-success mt-2"
                (click)="compileSwitches()"
              >
                Run
              </button>

              <h6 class="mt-3">Switch Roads Pool</h6>
              <div>
                <pre class="sample">{{ nodeSwitchesPool | json }}</pre>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="activeTab == 'locations'">
            @for(cat of locations; track cat.id) {

            <ul class="list-unstyled p-3" *ngIf="cat.subcategory.length > 0">
              <li *ngFor="let subcat of cat.subcategory">
                <div
                  class="cat-item d-flex align-items-center"
                  [ngClass]="{ active: subcat.visible }"
                >
                  <img [src]="mapIconUri + subcat.icon" *ngIf="subcat.icon" />
                  <span>{{ subcat.name }} ({{ subcat.items.length }})</span>
                  <button class="btn ml-auto" (click)="toggleLocations(subcat)">
                    {{ subcat.visible ? "Hide" : "Show" }}
                  </button>
                </div>
                <div *ngIf="subcat.visible">
                  <ul class="list-unstyled p-1">
                    <li
                      class="highlightable p-1"
                      *ngFor="let item of subcat.items"
                      (mouseover)="highlightItem(cat, subcat, item, true)"
                      (mouseout)="highlightItem(cat, subcat, item, false)"
                    >
                      x: {{ item.x }}, y: {{ item.y }}, z: {{ item.z }}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            }
          </ng-container>

          <ng-container *ngIf="activeTab == 'zones'">
            @for(cat of zones; track cat.id) {

            <ul class="list-unstyled p-3" *ngIf="cat.subcategory.length > 0">
              <li *ngFor="let subcat of cat.subcategory">
                <div
                  class="cat-item d-flex align-items-center"
                  [ngClass]="{ active: subcat.visible }"
                >
                  <img [src]="mapIconUri + subcat.icon" *ngIf="subcat.icon" />
                  <span>{{ subcat.name }} ({{ subcat.items.length }})</span>
                  <button class="btn ml-auto" (click)="toggleZones(subcat)">
                    {{ subcat.visible ? "Hide" : "Show" }}
                  </button>
                </div>

                <div *ngIf="subcat.visible">
                  <ul class="list-unstyled p-1">
                    <li
                      class="highlightable p-1"
                      *ngFor="let item of subcat.items"
                      (mouseover)="highlightItem(cat, subcat, item, true)"
                      (mouseout)="highlightItem(cat, subcat, item, false)"
                    >
                      {{ item.name }}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            }
          </ng-container>

          <ng-container *ngIf="activeTab == 'paths'">
            @for(cat of paths; track cat.id) {

            <ul class="list-unstyled p-3" *ngIf="cat.subcategory.length > 0">
              <li *ngFor="let subcat of cat.subcategory">
                <div
                  class="cat-item d-flex align-items-center"
                  [ngClass]="{ active: subcat.visible }"
                >
                  <img [src]="mapIconUri + subcat.icon" *ngIf="subcat.icon" />
                  <span>{{ subcat.name }} ({{ subcat.items.length }})</span>
                  <button class="btn ml-auto" (click)="togglePaths(subcat)">
                    {{ subcat.visible ? "Hide" : "Show" }}
                  </button>
                </div>

                <div *ngIf="subcat.visible">
                  <ul class="list-unstyled p-1">
                    <li
                      class="highlightable p-1"
                      *ngFor="let item of subcat.items"
                      (mouseover)="highlightItem(cat, subcat, item, true)"
                      (mouseout)="highlightItem(cat, subcat, item, false)"
                    >
                      {{ item.name }} {{ item.description }}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            }
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
