@import "variables";

.unverified-badge {
  float: right;
  border: 1px solid;
  padding: 2px 6px;
  font-size: 66%;
  border-radius: 0.25rem;
  border-color: $danger;
  color: $danger;
}

a {
  text-decoration: none !important;
  border-bottom: 1px dotted $color-success;
  &:hover {
    border-bottom: 1px dotted #878787;
  }
}
