<div class="row mb-2">
  <div class="col-12 d-flex justify-content-end games-container">
    <ng-container *ngFor="let game of baseGames">
      <a [routerLink]="['/', game, 'find']">
        <scl-icon [game]="game" size="16" [title]="GameTitle[game]"></scl-icon>
      </a>
    </ng-container>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 d-flex flex-row">
    <h5 class="mr-3">{{ "ui.tree.title" | translate }}</h5>
  </div>
</div>

<hr />

<p *ngIf="currentLine$ | async as currentLine">
  {{ currentLine }}.<ng-container *ngIf="(hasReachedTheEnd$ | async) !== true"
    >..</ng-container
  >
</p>

<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action"
    *ngFor="let node of nextNodes$ | async"
    (click)="next(node)"
  >
    <ng-container
      *ngIf="
        isOpcodeRef(node) && (getCommand(node.id) | async) as command;
        else nextTemplate
      "
    >
      {{ "ui.tree.useCommand" | translate: { command: command.name } }}
    </ng-container>

    <ng-template #nextTemplate>
      {{ "tree." + node.id | translate | stripPunctuation }}.<ng-container
        *ngIf="!isThisNodeTerminal(node)"
        >..</ng-container
      >
    </ng-template>
  </a>
</div>

<div class="row pt-3 pb-2">
  <div class="col-12">
    <small class="text-muted">
      {{ "ui.tree.wantMore" | translate }}
      <a
        href="https://github.com/sannybuilder/dev/discussions/162"
        target="_blank"
        class="text-small"
        >{{ "ui.tree.shareIdeas" | translate }}</a
      >
    </small>
  </div>
</div>
