:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.games-container {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  
  a + a {
    margin-left: 0.5rem;
  }
}

button + button {
  margin-left: 1rem;
}
