name: gh-pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Build Angular
        run: |
          cd editor
          npm install
          npm run build
          cp src/404.html dist/editor

      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: editor/dist/editor
          retention-days: 1

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Generate and Validate
        run: |
          cd editor
          bun ci.ts

      - uses: actions/upload-artifact@v4
        with:
          name: assets
          path: editor/dist/editor
          retention-days: 1

  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dtolnay/rust-toolchain@stable

      - name: Generate
        run: |
          cd editor
          bun cargo.ts

      - uses: actions/upload-artifact@v4
        with:
          name: cargo
          path: editor/dist/editor
          retention-days: 1

  deploy:
    needs: [build, check, compile]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with: 
          merge-multiple: true

      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          cname: library.sannybuilder.com
