name: gh-pages

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: "16"

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build gh-pages
        run: |
          cd editor
          npm install

          npm run validate:commands ../gta3/gta3.json
          npm run validate:commands ../vc/vc.json
          npm run validate:commands ../sa/sa.json
          npm run validate:enums ../gta3/enums.json
          npm run validate:enums ../vc/enums.json
          npm run validate:enums ../sa/enums.json

          npm run build
          cp src/404.html dist/editor

          cp ../gta3/gta3.json dist/editor/assets/gta3
          cp ../vc/vc.json dist/editor/assets/vc
          cp ../sa/sa.json dist/editor/assets/sa

          cp ../gta3/enums.json dist/editor/assets/gta3
          cp ../vc/enums.json dist/editor/assets/vc
          cp ../sa/enums.json dist/editor/assets/sa

      - name: Compile files
        run: |
          cd generator

          cargo run enums ../gta3/enums.json > ../editor/dist/editor/assets/gta3/enums.txt
          cargo run enums ../vc/enums.json > ../editor/dist/editor/assets/vc/enums.txt
          cargo run enums ../sa/enums.json > ../editor/dist/editor/assets/sa/enums.txt

          cargo run snippets ../gta3/snippets > ../editor/dist/editor/assets/gta3/snippets.json
          cargo run snippets ../vc/snippets > ../editor/dist/editor/assets/vc/snippets.json
          cargo run snippets ../sa/snippets > ../editor/dist/editor/assets/sa/snippets.json


          # Classic OG releases (PC/1.0)

          cargo run classes ../gta3/gta3.json gta3_classic > ../editor/dist/editor/assets/gta3_classic/classes.db
          cargo run classes ../vc/vc.json vc_classic > ../editor/dist/editor/assets/vc_classic/classes.db
          cargo run classes ../sa/sa.json sa_classic > ../editor/dist/editor/assets/sa_classic/classes.db

          cargo run keywords ../gta3/gta3.json gta3_classic > ../editor/dist/editor/assets/gta3_classic/keywords.txt
          cargo run keywords ../vc/vc.json vc_classic > ../editor/dist/editor/assets/vc_classic/keywords.txt
          cargo run keywords ../sa/sa.json sa_classic > ../editor/dist/editor/assets/sa_classic/keywords.txt


          # Mobile releases

          cargo run classes ../gta3/gta3.json gta3_mobile > ../editor/dist/editor/assets/gta3_mobile/classes.db
          cargo run classes ../vc/vc.json vc_mobile > ../editor/dist/editor/assets/vc_mobile/classes.db
          cargo run classes ../sa/sa.json sa_mobile > ../editor/dist/editor/assets/sa_mobile/classes.db

          cargo run keywords ../gta3/gta3.json gta3_mobile > ../editor/dist/editor/assets/gta3_mobile/keywords.txt
          cargo run keywords ../vc/vc.json vc_mobile > ../editor/dist/editor/assets/vc_mobile/keywords.txt
          cargo run keywords ../sa/sa.json sa_mobile > ../editor/dist/editor/assets/sa_mobile/keywords.txt


          # The Trilogy: The Definitive Edition
          cargo run classes ../gta3/gta3.json gta3_unreal > ../editor/dist/editor/assets/gta3_unreal/classes.db
          cargo run classes ../vc/vc.json vc_unreal > ../editor/dist/editor/assets/vc_unreal/classes.db
          cargo run classes ../sa/sa.json sa_unreal > ../editor/dist/editor/assets/sa_unreal/classes.db

          cargo run keywords ../gta3/gta3.json gta3_unreal > ../editor/dist/editor/assets/gta3_unreal/keywords.txt
          cargo run keywords ../vc/vc.json vc_unreal > ../editor/dist/editor/assets/vc_unreal/keywords.txt
          cargo run keywords ../sa/sa.json sa_unreal > ../editor/dist/editor/assets/sa_unreal/keywords.txt

      - name: Deploy gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./editor/dist/editor
          cname: library.sannybuilder.com
